<div class="footer__wrapper">
  <div class="footer__links">
    <div class="row">
      <ul class="col links">
        <li>
          <a href="/about/">About MMDP</a>
        </li>
        <li>
          <a href="/about#governor-message">
            Message from the Governor
          </a>
        </li>
        <li>
          <a href="/about#about-mmdp">The MMDP</a>
        </li>
        <li>
          <a href="/about#coordination">Coordination</a>
        </li>
        <li>
          <a href="/contact-us.html">Contact us</a>
        </li>
      </ul>
      <ul class="col links">
        <li>
          <a href="/thematic-pillars/">
            Thematic Pillars
          </a>
        </li>
        <li class="side-links">
          <a href="/thematic-pillars#pillar-one">Pillar 1</a>
        </li>
        <li>
          <a href="/thematic-pillars#pillar-two">Pillar 2</a>
        </li>
        <li class="side-links">
          <a href="/thematic-pillars#pillar-three">Pillar 3</a>
        </li>
        <li class="side-links">
          <a href="/thematic-pillars#pillar-four">Pillar 4</a>
        </li>
      </ul>
      <ul class="col links">
        <li>
          <a href="/events.html">Events</a>
        </li>
        <li>
          <a href="/events.html#past-events">Past Events</a>
        </li>
        <li>
          <a href="/events.html#upcoming-events">Upcoming Events</a>
        </li>
      </ul>
      <ul class="col links">
        <li>
          <a href="/resources#research">Resources</a>
        </li>
        <li>
          <a href="/resources#research">Research</a>
        </li>
        <li>
          <a href="/resources#reports">Reports</a>
        </li>
        <li>
          <a href="/resources#stakeholder-directory">
            Stakeholder's Directory
          </a>
        </li>
        <li>
          <a href="/resources#photos-videos">Repository</a>
        </li>
        <li>
          <a href="/coordination-matrix.html">
            Coordination Matrix
          </a>
        </li>
      </ul>
      <ul class="col links">
        <li>
          <a href="/contact-us.html">Contact Us</a>
        </li>
        <li>
          <a href="tel:+2348000087878">Phone: +234-800-0087-878</a>
        </li>
        <li>
          Hours of Operation: 07:00 - 20:00hours (GMT+1)
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__contact">
    <div class="row">
      <div class="col s6">
        <a href="/" class="footer__logo__detail">
          <span class="footer__logo">
            <img src="/assets/images/common/mmdp-logo-white-text.svg" alt="footer-logo">
          </span>
          <span class="footer__detail">
            The Managing Migration through Development Programme
          </span>
        </a>
      </div>
      <div class="col s6">
        <span class="footer__email">
          Email:
          <a href="mailto:help@mmdp.gov.ng">help@mmdp.gov.ng</a>
        </span>
      </div>
    </div>
  </div>
  <div class="footer__social">
    <ul class="social__icons">
      <li>
        <a
          href="https://www.twitter.com/mmdp_ng/"
          target="blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/Managing-Migration-through-Development-Programme-2345916328978090/"
          target="blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/mmdp_ng/"
          target="blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
