<main>
    <!-- Gap Analysis Table -->
    <section id="gap-analysis-report-table" class="table">
        <section class="gap-analysis-table-web">
            <header class="table-row header gap-header">
                <label class="report-col-1">
                    <input type="checkbox" name="check" class="check" data-org='check-all' id='check-all' />
                </label>
                <div class="report-col-2 header-row">Thematic Pillar
                    <span name="pillar" class="active-column-filters-count hide"></span>
                    <i name="pillar" class="fas fa-angle-down angle-down-fa-icon gap-analysis-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="gap_analysis_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="thematic_filters gap_analysis_table_filters">
                                    <p>
                                        Thematic Pillars Filters
                                        <button class="clear_filter__button gap-analysis-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button class="apply_filter__button gap-analysis-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="report_thematic_filter_data gap_analysis_table_filter_data">
                                    <div id="thematic_data" class="filter-data-option-items">
                                        <!-- Filter dropdown checkboxes will be loaded dynamically here-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="report-col-3 header-row">
                    Sub theme
                    <span name="subtheme" class="active-column-filters-count hide"></span>
                    <i name="subtheme" class="fas fa-angle-down angle-down-fa-icon gap-analysis-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="gap_analysis_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="subtheme_filters gap_analysis_table_filters">
                                    <p>
                                        Sub-Theme Filters
                                        <button class="clear_filter__button gap-analysis-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button class="apply_filter__button gap-analysis-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="report_thematic_filter_data gap_analysis_table_filter_data">
                                    <div id="subtheme_data" class="filter-data-option-items">
                                        <!-- Filter dropdown checkboxes will be loaded dynamically here-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="report-col-4 header-row">LGA with gaps
                    <span name="LgasWithGaps" class="active-column-filters-count hide"></span>
                    <i name="LgasWithGaps" class="fas fa-angle-down angle-down-fa-icon gap-analysis-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="gap_analysis_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="lga_gap_filters gap_analysis_table_filters">
                                    <p>
                                        LGA with gaps Filters
                                        <button class="clear_filter__button gap-analysis-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button class="apply_filter__button gap-analysis-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="report_thematic_filter_data gap_analysis_table_filter_data">
                                    <div id="lga_gap_data" class="filter-data-option-items">
                                        <!-- Filter dropdown checkboxes will be loaded dynamically here-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="report-col-4 header-row">Number of Focus Areas with gaps
                    <span name="focusAreasWithGapsCount" class="active-column-filters-count hide"></span>
                    <i name="focusAreasWithGapsCount" class="fas fa-angle-down angle-down-fa-icon gap-analysis-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="gap_analysis_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="gap_count_filters gap_analysis_table_filters">
                                    <p>
                                        Number of Focus Areas With Gaps Filters
                                        <button class="clear_filter__button gap-analysis-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button class="apply_filter__button gap-analysis-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="report_thematic_filter_data gap_analysis_table_filter_data">
                                    <div id="gap_count_data" class="filter-data-option-items">
                                        <!-- Filter dropdown checkboxes will be loaded dynamically here-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            <!--Rows will be loaded dynamically here-->
            <div id="gap-analysis-data"></div>

            <!--Start Footer-->
            <div class="table__footer_report">
                <tr>
                    <td colspan="7">
                        <button id="gap-export" class="banner__button animated flashing slow delay-2s">
                            <img src="/assets/images/stakeholder-dir/cloud-computing.svg" />Export CSV
                        </button>
                        <span class="footer__right_content">
                            <!-- Dropdown Trigger -->
                            <a class='gap-analysis-dropdown-trigger' data-target='gap-analysis-entries-per-page'><span id="gap-analysis-row-number">10 </span><i class="fas fa-caret-down"></i><a>

                            <!-- Dropdown Structure -->
                            <ul id='gap-analysis-entries-per-page' class='dropdown-content'>
                                <!-- Dynamic display goes here -->
                            </ul>
                            <span class="footer-page-entries">Entries per page</span>
                            <span class="page-of-text">Page <span id="gap-current-page">1</span> of
                                <span id="gap-total-page">1</span></span>
                            <button id="gap-previous-page" class="go-back">&#60;</button>
                            <button id="gap-next-page" class="go-forward">&#62;</button>
                        </span>
                    </td>
                </tr>
            </div>
        </section>
        <section id="gap-analysis-table-mobile" class="gap-analysis-table-mobile">
            <!-- Mobile Table rows come here -->
        </section>
    </section>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>
                <!-- Content will be loaded dynamically here -->
            </h5>
            <div id="modal__body">
                <table id="stakeholder__details__table" class="stakeholder__details__table">
                    <tbody>
                    <!--Table rows will be loaded dynamically here-->
                    </tbody>
                </table>
                <img class="mmdp__bg__img" src="./assets/images/common/group-2@3x.png" />
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="assets/js/csv.js"></script>
