<!-- Navigation -->
<nav>
    <!-- Logo and branding section -->
    <div class="nav-wrapper">
        <a href="/index.html">
            <img
                    src="../assets/images/index/group-2.png"
                    srcset="../assets/images/index/group-2@2x.png,
        ../assets/images/index/group-2@3x.png"
                    class="header__logo-img">
        </a>
        <h6 class="brand__name">The Managing Migration through <br>Development Programme</h6>
        <ul class='hide-on-med-and-down right'>
            <li><a href="/thematic-pillars#pillar-one">Thematic pillars</a></li>
            <li><a href="../about/#governor-message">About MMDP</a></li>
            <li><a href="/events.html">Events</a></li>
            <li><a href="/resources.html">Resources</a></li>
            <li><a href="/contact-us.html">Contact us</a></li>
        </ul>
        <a class='sidenav-trigger right' href='#' data-target='slide-out'><i class="material-icons">menu</i></a>
    </div>
</nav>

<!-- Slide out mobile menu  -->
<ul id='slide-out' class='sidenav'>
    <li class="sidenav__logo center">
        <a href="/index.html" class="brand-logo">
            <img class="logo-container" src="/assets/images/mmdp-logo-white-text.svg" alt="" srcset="">
        </a>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li class="active">
                <a class="collapsible-header waves-effect waves-teal" tabindex="0">
                    Thematic pillars <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li class="side-links"><a href="/thematic-pillars#pillar-one">Pillar One</a></li>
                        <li class="side-links"><a href="/thematic-pillars#pillar-two">Pillar Two</a></li>
                        <li class="side-links"><a href="/thematic-pillars#pillar-three">Pillar Three</a></li>
                        <li class="side-links"><a href="/thematic-pillars#pillar-four">Pillar Four</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect waves-teal" tabindex="0">
                    About MMDP <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/about#governor-message">Message from the Governor</a></li>
                        <li><a href="/about#about-mmdp">About MMDP</a></li>
                        <li><a href="/about#state-approach">The Edo State Approach</a></li>
                        <li><a href="/about#coordination">Coordination</a></li>
                        <li><a href="/about#objectives">Objectives</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/events.html">Events</a></li>
            <li>
                <a class="collapsible-header waves-effect waves-teal" tabindex="0">
                    Resources <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/resources.html">Research</a></li>
                        <li><a href="/resources.html">Reports</a></li>
                        <li><a href="/resources.html">Stakeholder directory</a></li>
                        <li><a href="/resources.html">Repository</a></li>
                        <li><a href="/resources.html">Coordination matrix</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/contact-us.html">Contact us</a></li>
        </ul>
    </li>
</ul>
