<nav>
    <!-- Logo and branding section -->
    <div class="nav-wrapper">
        <a href="/index.html">
            <img
                    src="/assets/images/common/group-2.png"
                    srcset="/assets/images/common/group-2@2x.png,
              /assets/images/group-2@3x.png"
                    class="header__logo-img"
            />
            <h6 class="brand__name">
                The Managing Migration through <br />Development Programme
            </h6>
        </a>
        <ul class="hide-on-med-and-down right">
            <li>
                <a href="index.html">
                    <button class="matrix-logout">LOG OUT</button>
                </a>
            </li>
        </ul>
        <a class="sidenav-trigger right" href="#" data-target="slide-out"
        ><i class="material-icons">menu</i></a
        >
    </div>
</nav>
