<main>
    <!-- Partnership Table -->
    <section id="partnership-report-table" class="table">
        <section class="partnership-table-web">
            <header class="table-row header">
                <label class="input-header-checkbox">
                    <input class = "check" name="collaboration" value="collaboration" type="checkbox" data-org="check-all-items" id="partnerships-check-all"/>

                </label>
                <div class="col-2 header-row"><span id="selectedThematicPillarsCount"></span>Thematic Pillar <i name="thematicPillar" class ="fas fa-angle-down angle-down-fa-icon partnership-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="partner_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="partnerships_table_filters">
                                    <p>
                                        Thematic Pillar Filters
                                        <button id="clearThematicPillars" class="clear_filter__button partnership-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button class="apply_filter__button partnership-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="partnerships_table_filter_data">
                                    <div id="thematicPillarFilterData" class="filter-data-option-items">
                                        <!--  Load column filter checkbox items dynamically-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 header-row"><span id="selectedSubThemesCount"></span>Sub theme
                    <i name="subTheme" class="fas fa-angle-down angle-down-fa-icon partnership-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="partner_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="partnerships_table_filters">
                                    <p>
                                        Sub-Theme Filters
                                        <button id="clearSubThemes" class="clear_filter__button partnership-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button class="apply_filter__button partnership-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="partnerships_table_filter_data">
                                    <div id="subThemeFilterData" class="filter-data-option-items">
                                        <!--  Load column filter checkbox items dynamically-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 header-row header-row-lga-potential-partnerships"><span id="selectedLgasCount"></span>LGA
                    <i name="lga" class="fas fa-angle-down angle-down-fa-icon partnership-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="partner_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="partnerships_table_filters">
                                    <p>
                                        LGA Filters
                                        <button  id="clearLgas" class="clear_filter__button partnership-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button class="apply_filter__button partnership-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="partnerships_table_filter_data">
                                    <div id="lgaFilterData" class="filter-data-option-items">
                                        <!--  Load column filter checkbox items dynamically-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 header-row organizations-header-row"><span id="selectedOrganizationsCount"></span>Organizations with Potential Partnership
                    <i name="organizationName" class="fas fa-angle-down fa-xs fa-organizations-icon partnership-filter-icon"></i>
                    <div class="table-filter-container">
                        <div class="container">
                            <div class="partner_table_filter_subnav fadeInDown" style="display: none;">
                                <div class="partnerships_table_filters">
                                    <p>
                                        Organizations with Potential Partnership Filters
                                        <button id="clearOrganizations" name="organizationName" class="clear_filter__button partnership-table-clear-filter" >
                                            Clear Filter
                                        </button>
                                        <button name="organizationName" class="apply_filter__button partnership-table-apply-filter" >
                                            Apply Filter
                                        </button>
                                    </p>
                                </div>
                                <div class="partnerships_table_filter_data">
                                    <div id="organizationNameFilterData" class="filter-data-option-items">
                                        <!--  Load column filter checkbox items dynamically-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--Rows will be loaded dynamically here-->
            <div id="partnership-report-data"></div>

            <!--Start Footer-->
            <div class="table__footer_report">
                <tr>
                    <td colspan="7">
                        <button id="partnerships-export" class="banner__button animated flashing slow delay-2s">
                            <img src="/assets/images/stakeholder-dir/cloud-computing.svg" />Export CSV
                        </button>
                        <span class="footer__right_content">
                            <!-- Dropdown Trigger -->
                            <a class='partnership-dropdown-trigger' data-target='partnership-entries-per-page'><span id="partnership-row-number">10 </span><i class="fas fa-caret-down"></i><a>

                            <!-- Dropdown Structure -->
                            <ul id='partnership-entries-per-page' class='dropdown-content'>
                                <!-- Dynamic display goes here -->
                            </ul>
                            <span class="footer-page-entries">Entries per page</span>
                            <span class="page-of-text">Page <span id="potential-current-page">1</span> of
                                <span id="potential-total-page">1</span></span>
                            <button id="potential-previous-page" class="go-back">&#60;</button>
                            <button id="potential-next-page" class="go-forward">&#62;</button>
                        </span>
                    </td>
                </tr>
            </div>
        </section>
        <section id="partnership-table-mobile" class="partnership-table-mobile">
            <!-- Mobile Table rows come here -->
        </section>
    </section>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>
                <!-- Content will be loaded dynamically here -->
            </h5>
            <div id="modal__body">
                <table id="stakeholder__details__table" class="stakeholder__details__table">
                    <tbody>
                    <!--Table rows will be loaded dynamically here-->
                    </tbody>
                </table>
                <img class="mmdp__bg__img" src="./assets/images/common/group-2@3x.png" />
            </div>
        </div>
    </div>
</main>
