<link rel="stylesheet" href="assets/styles/coordination-matrix.css" />
<div id="test">
  <table id="stakeholder">
    <thead>
      <tr class="filter">
        <th class="organisation__name">
          <input name="organisation__name" value="aaaaa" type="checkbox" data-org="check-all-stakeholder" id="check-all-stakeholder"/>
          <div>
            Organisation Name
            <i class="fas fa-angle-down fa-xs" id="dropdown__icon_"></i>
            <div class="container">
              <div class="organisation_subnav">
                <div class="organisation_filters">
                  <p>
                    Organisation Filters
                    <button class="clear_filter__button" id="clearFilter">
                      Clear Filter
                    </button>
                    <button class="apply_filter__button" id="applyFilter">
                      Apply Filter
                    </button>
                  </p>
                </div>
                <div class="organisation_filter_data">
                  <table id="organisation_data">
                    <tbody>
                      <!--Table rows will be loaded dynamically here-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </th>
        <th>
          Thematic Pillars<i
            class="fas fa-angle-down fa-xs"
            id="dropdown__icon_"
          ></i>
          <div class="container">
            <div class="thematic_subnav">
              <div class="thematic_filters">
                <p>
                  Thematic Filters
                  <button class="clear_filter__button" id="clearFilter">
                    Clear Filter
                  </button>
                  <button class="apply_filter__button" id="applyFilter">
                    Apply Filter
                  </button>
                </p>
              </div>
              <div class="thematic_filter_data">
                <table id="thematic_data">
                  <tbody>
                    <!--Table rows will be loaded dynamically here-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </th>
        <th>
          Sub-Themes<i class="fas fa-angle-down fa-xs" id="dropdown__icon_"></i>
          <div class="container">
            <div class="subtheme_subnav">
              <div class="subtheme_filters">
                <p>
                  Sub-Theme Filters
                  <button class="clear_filter__button" id="clearFilter">
                    Clear Filter
                  </button>
                  <button class="apply_filter__button" id="applyFilter">
                    Apply Filter
                  </button>
                </p>
              </div>
              <div class="subtheme_filter_data">
                <table id="data_subtheme">
                  <tbody>
                    <!--Table rows will be loaded dynamically here-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </th>
        <th>
          Partnership<i
            class="fas fa-angle-down fa-xs"
            id="dropdown__icon_"
          ></i>
          <div class="container">
            <div class="partnership_subnav">
              <div class="partnership_filters">
                <p>
                  Partnership Filters
                  <button class="clear_filter__button" id="clearFilter">
                    Clear Filter
                  </button>
                  <button class="apply_filter__button" id="applyFilter">
                    Apply Filter
                  </button>
                </p>
              </div>
              <div class="partnership_filter_data">
                <table id="partnership_data">
                  <tbody>
                    <!--Table rows will be loaded dynamically here-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </th>
        <th class="location__dropdown">
          Location<i class="fas fa-angle-down fa-xs" id="dropdown__icon_"></i>
          <div class="container">
            <div class="subnav">
              <div class="location_filters">
                <p>
                  Location Filters
                  <button class="clear_filter__button" id="clearFilter">
                    Clear Filter
                  </button>
                  <button class="apply_filter__button" id="applyFilter">
                    Apply Filter
                  </button>
                </p>
              </div>
              <div class="location_filter_data">
                <table id="data">
                  <tbody>
                    <!--Table rows will be loaded dynamically here-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </th>
        <th>
          Beneficiary Count<i
            class="fas fa-angle-down fa-xs"
            id="dropdown__icon_"
          ></i>
          <div class="container">
            <div class="beneficiary_subnav">
              <div class="beneficiary_filters">
                <p>
                  Beneficiary Filters
                  <button class="clear_filter__button" id="clearFilter">
                    Clear Filter
                  </button>
                  <button class="apply_filter__button" id="applyFilter">
                    Apply Filter
                  </button>
                </p>
              </div>
              <div class="beneficiary_filter_data">
                <table id="beneficiary_count_data">
                  <tbody>
                    <!--Table rows will be loaded dynamically here-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </th>
        <th>
          Amount Invested
          <i class="fas fa-angle-down fa-xs" id="dropdown__icon_"></i>
          <div class="container">
            <div class="amount_subnav">
              <div class="amount_filters">
                <p>
                  Amount Invested Filters
                  <button class="clear_filter__button" id="clearFilter">
                    Clear Filter
                  </button>
                  <button class="apply_filter__button" id="applyFilter">
                    Apply Filter
                  </button>
                </p>
              </div>
              <div class="amount_filter_data">
                <table id="data_amount">
                  <tbody>
                    <!--Table rows will be loaded dynamically here-->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="activities__table__body" class="table__body">
      <!--Table rows will be loaded dynamically here-->
    </tbody>
  </table>
  <div class="table__footer">
    <tr>
      <td colspan="7">
        <button
          id="export"
          class="banner__button animated flashing slow delay-2s"
        >
          <img src="/assets/images/stakeholder-dir/cloud-computing.svg" />Export
          CSV
        </button>
        <span class="footer__right_content">

          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger' data-target='entries-per-page'><span id="row-number">10 </span><i class="fas fa-caret-down"></i><a>

          <!-- Dropdown Structure -->
          <ul id='entries-per-page' class='dropdown-content'>
            <!-- Dynamic display goes here -->
          </ul>
    
          <span>Entries per page</span>
          <span
            >Page <span id="current-page">1</span> of
            <span id="total-page">1</span></span
           >
          <button id="previous-page" class="go-back">&#60;</button>
          <button id="next-page" class="go-forward">&#62;</button>
        </span>
      </td>
    </tr>
  </div>
</div>
<script type="text/javascript" src="assets/js/csv.js"></script>
