<div>
  <table>
    <thead>
      <tr>
        <th class="organisation__name">
          <input name="aaaaa" value="aaaaa" type="checkbox" /><div>Organisation Name</div>
        </th>
        <th>Thematic Pillars</th>
        <th>Sub-Themes</th>
        <th>Partnership</th>
        <th>Location</th>
        <th>Beneficiary Count</th>
        <th>Amount Invested</th>
      </tr>
    </thead>
    <tbody id="activities__table__body" class="table__body">
      <!--Table rows will be loaded dynamically here-->
    </tbody>
  </table>
  <div class="table__footer">
    <tr>
      <td colspan="7">
        <button class="banner__button animated flashing slow delay-2s">
          <img src="/assets/images/stakeholder-dir/cloud-computing.svg"/>Export CSV
        </button>
        <span class="footer__right_content">
          <select>
            <option selected>10</option>
          </select>
          <span>Entries per page</span>
          <span>Page <span>1</span> of 23</span>
          <span class="go-back">&#60;</span>
          <span class="go-forward active__nav">&#62;</span>
        </span>
      </td>
    </tr>
  </div>
</div>
