<link rel="stylesheet" href="assets/styles/coordination-matrix.css" />
<div id="test">
  <table id="stakeholder">
    <thead>
      <tr class="filter">
        <th class="organisation__name">
          <input name="organisation__name" value="aaaaa" type="checkbox" data-org="check-all-stakeholder" id="check-all-stakeholder"/>
          <div>
            Organisation Name
            <i name="organisationName" class="fas fa-angle-down fa-xs stakeholder-filter-icon"></i>
            <div class="stakeholder-filter-container">
              <div class="container">
                  <div class="stakeholder_table_filter_subnav fadeInDown" style="display: none;">
                      <div class="stakeholder_table_filters">
                          <p>
                              Organisation Name Filters
                              <button class="clear_filter__button stakeholder-table-clear-filter" >
                                  Clear Filter
                              </button>
                              <button class="apply_filter__button stakeholder-table-apply-filter" >
                                  Apply Filter
                              </button>
                          </p>
                      </div>
                      <div class="stakeholder_table_filter_data">
                          <div id="organisationNameStakeholderFilterData" class="filter-data-option-items">
                              <!--  Load column filter checkbox items dynamically-->
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </div>
        </th>
        <th>
          Thematic Pillars
          <i name="thematicPillar" class="fas fa-angle-down fa-xs stakeholder-filter-icon"></i>
          <div class="stakeholder-filter-container">
            <div class="container">
                <div class="stakeholder_table_filter_subnav fadeInDown" style="display: none;">
                    <div class="stakeholder_table_filters">
                        <p>
                            Thematic Pillar Filters
                            <button class="clear_filter__button stakeholder-table-clear-filter" >
                                Clear Filter
                            </button>
                            <button class="apply_filter__button stakeholder-table-apply-filter" >
                                Apply Filter
                            </button>
                        </p>
                    </div>
                    <div class="stakeholder_table_filter_data">
                        <div id="thematicPillarStakeholderFilterData" class="filter-data-option-items">
                            <!--  Load column filter checkbox items dynamically-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </th>
      <th>
        Sub-Themes
        <i name="subTheme" class="fas fa-angle-down fa-xs stakeholder-filter-icon"></i>
        <div class="stakeholder-filter-container">
          <div class="container">
              <div class="stakeholder_table_filter_subnav fadeInDown" style="display: none;">
                  <div class="stakeholder_table_filters">
                      <p>
                          Sub-Theme Filters
                          <button class="clear_filter__button stakeholder-table-clear-filter" >
                              Clear Filter
                          </button>
                          <button class="apply_filter__button stakeholder-table-apply-filter" >
                              Apply Filter
                          </button>
                      </p>
                  </div>
                  <div class="stakeholder_table_filter_data">
                      <div id="subThemeStakeholderFilterData" class="filter-data-option-items">
                          <!--  Load column filter checkbox items dynamically-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </th>
      <th>
        Partnership
        <i name="partnership" class="fas fa-angle-down fa-xs stakeholder-filter-icon"></i>
        <div class="stakeholder-filter-container">
          <div class="container">
              <div class="stakeholder_table_filter_subnav fadeInDown" style="display: none;">
                  <div class="stakeholder_table_filters">
                      <p>
                          Partnership Filters
                          <button class="clear_filter__button stakeholder-table-clear-filter" >
                              Clear Filter
                          </button>
                          <button class="apply_filter__button stakeholder-table-apply-filter" >
                              Apply Filter
                          </button>
                      </p>
                  </div>
                  <div class="stakeholder_table_filter_data">
                      <div id="partnershipStakeholderFilterData" class="filter-data-option-items">
                          <!--  Load column filter checkbox items dynamically-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </th>
      <th class="location__dropdown">
        Location
        <i name="location" class="fas fa-angle-down fa-xs stakeholder-filter-icon"></i>
        <div class="stakeholder-filter-container">
          <div class="container">
              <div class="stakeholder_table_filter_subnav fadeInDown" style="display: none;">
                  <div class="stakeholder_table_filters">
                      <p>
                          Location Filters
                          <button class="clear_filter__button stakeholder-table-clear-filter" >
                              Clear Filter
                          </button>
                          <button class="apply_filter__button stakeholder-table-apply-filter" >
                              Apply Filter
                          </button>
                      </p>
                  </div>
                  <div class="stakeholder_table_filter_data">
                      <div id="locationStakeholderFilterData" class="filter-data-option-items">
                          <!--  Load column filter checkbox items dynamically-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </th>
      <th>
        Beneficiary Count
        <i name="beneficiaryCount" class="fas fa-angle-down fa-xs stakeholder-filter-icon"></i>
        <div class="stakeholder-filter-container">
          <div class="container">
              <div class="stakeholder_table_filter_subnav fadeInDown" style="display: none;">
                  <div class="stakeholder_table_filters">
                      <p>
                          Beneficiary Count Filters
                          <button class="clear_filter__button stakeholder-table-clear-filter" >
                              Clear Filter
                          </button>
                          <button class="apply_filter__button stakeholder-table-apply-filter" >
                              Apply Filter
                          </button>
                      </p>
                  </div>
                  <div class="stakeholder_table_filter_data">
                      <div id="beneficiaryCountStakeholderFilterData" class="filter-data-option-items">
                          <!--  Load column filter checkbox items dynamically-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </th>
      <th>
        Amount Invested
        <i name="amountInvested" class="fas fa-angle-down fa-xs stakeholder-filter-icon"></i>
        <div class="stakeholder-filter-container">
          <div class="container">
              <div class="stakeholder_table_filter_subnav fadeInDown" style="display: none;">
                  <div class="stakeholder_table_filters">
                      <p>
                          Amount Invested Filters
                          <button class="clear_filter__button stakeholder-table-clear-filter" >
                              Clear Filter
                          </button>
                          <button class="apply_filter__button stakeholder-table-apply-filter" >
                              Apply Filter
                          </button>
                      </p>
                  </div>
                  <div class="stakeholder_table_filter_data">
                      <div id="amountInvestedStakeholderFilterData" class="filter-data-option-items">
                          <!--  Load column filter checkbox items dynamically-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </th>
    </tr>
    </thead>
    <tbody id="activities__table__body" class="table__body">
    <!--Table rows will be loaded dynamically here-->
    </tbody>
  </table>
  <div class="table__footer">
    <tr>
      <td colspan="7">
        <button
                id="export"
                class="banner__button animated flashing slow delay-2s"
        >
          <img src="/assets/images/stakeholder-dir/cloud-computing.svg" />Export
          CSV
        </button>
        <span class="footer__right_content">

          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger' data-target='entries-per-page'><span id="row-number">10 </span><i class="fas fa-caret-down"></i><a>

          <!-- Dropdown Structure -->
          <ul id='entries-per-page' class='dropdown-content'>
            <!-- Dynamic display goes here -->
          </ul>

          <span>Entries per page</span>
          <span class="matrix-page-of-text"
          >Page <span id="current-page">1</span> of
            <span id="total-page">1</span></span
          >
          <button id="previous-page" class="go-back">&#60;</button>
          <button id="next-page" class="go-forward">&#62;</button>
        </span>
      </td>
    </tr>
  </div>
</div>
<script type="text/javascript" src="/assets/js/csv.js"></script>
