<!-- Navigation -->
<nav>
    <!-- Logo and branding section -->
    <div class="nav-wrapper">
      <a href="/index.html">
        <img
          src="/assets/images/common/group-2.png"
          srcset="/assets/images/common/group-2@2x.png,
                    /assets/images/group-2@3x.png"
          class="header__logo-img"
        />
        <h6 class="brand__name">
          The Managing Migration through <br />Development Programme
        </h6>
      </a>
      <ul class="hide-on-med-and-down right">
        <li>
          <button
            class="banner__button animated flashing slow delay-2s logout__button"
            id="logout__btn"
          >
            Log out
          </button>
        </li>
      </ul>
      <a class="sidenav-trigger right" href="#" data-target="slide-out"
        ><i class="material-icons">menu</i></a
      >
    </div>
  </nav>
  
  <!-- Slide out mobile menu  -->
  <ul id="slide-out" class="sidenav">
    <li>
      <ul class="collapsible collapsible-accordion">
        <li class="active">
          <button>Logout</button>
        </li>
      </ul>
    </li>
  </ul>
  