@import url('https://fonts.googleapis.com/css?family=Muli:400,700,700i,800');

body, img {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

.governors-image {
    object-fit: contain;
    padding-right: 1em;
    margin-top: 1.5em;
}

.image-container{
    display: flex;
    margin-left: -0.8em;
}

.governors-image img{
    width: 93%;
    height: auto;
}
.hr-divider {
    float: left;
    height: 0.3em;
    width: 83%;
    background-color: #DCEAEE;
    border-style: none;
    border-width: 5px;
    margin-top: -0.2em;
}

.governors-name {
    font-weight: bold;
}
p{
    text-align: justify;
    line-height: 2em;
    font-size: 16px;
    margin-top: 0;
}

.governors-p {
    margin-top: 2.5em !important;
}

.row-state {
     margin-bottom: 0px !important;
}
.about-mmdp__h5 {
    font-size: 2em;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: -0.8px;
    margin-top: 0.5em;
}
.about-mmdp__img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
 }
.about-mmdp__p{
    width: 90%;
    line-height: 2em;
    font-size: 16px;
}
.aproach-links > a {
    font-weight: bold;
    font-size: 14px;
    display: block;
    color: #296d81;
    padding-bottom: 3.0em;
}

.aproach-links {
  flex-wrap: wrap;
    flex: 1;
    margin-top: 1.5em;
}
.approach-padding{
  margin-bottom: 2em !important;
}
.align-right {
    padding-right: 11em !important;
}
.align-left {
    padding-right: 11em !important;
}
.coordination{
  background-color: #f2f8fa;
  height: 100%;
}
.coordination-p p{
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
p.coordination-p p {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 12px;
  padding-left: 12px;
}
.coord-section{
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.06);
  flex: 1;
  margin: 0.5em;
  margin-bottom: 1.5em;
  min-width: 250px;
}
.coord-padding {
  width: 100%;
  height: 100%;
  padding-left: 2em;
  padding-top: 2em;
  padding-right: 2em;
  flex-wrap: wrap;
}
.container-{
  display: flex;
  flex: 1;
}
.coord-num {
font-size: 55px;
font-weight: 800;
margin: .5em;
padding-top: 28px;
}

.menu-item-content.col.s12.l9 {
    width: 100%;
}

.content-modifier{
     padding: 0 !important;
}

.main__content-section-wrapper {
  padding-right: 2em;
  padding-left: 2em;
  width: 100%;
  padding-bottom: 29px;
}

.padding-bottom--medium {
    padding-bottom: 15em;
}

.padding-bottom--small {
    padding-bottom: 5em;
}

.muted {
  color: #b5c8ce;
}

.hidden {
  display: none;
}
