.coordination-login__top {
  margin-top: 3em;
  margin-bottom: 3em;
}

.coordination-login__top img {
  margin-bottom: 1em;
}

.coordination-login__form {
  border: 1px solid #d9eaef;
  border-radius: 3px;
  box-shadow: 0 11px 20px 0 rgba(41, 109, 129, 0.06);
  background-color: #fafeff;
}

.coordination-login__form input[type='submit'] {
  width: 100%;
  background-color: #3faaca;
  margin-top: 1.5em;
  text-transform: none;
}

.coordination-login__form input[type='email'],
.coordination-login__form input[type='password'] {
  width: 95%;
  border-style: solid;
  border-color: #ecf5f8;
  border-width: 1px 1px 1px 1px;
  padding-left: 1em;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 0.5em;
}

input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ecf5f8;
  border-radius: 3px;
  border-style: solid;
  border-color: #20c4fb;
  border-width: 1px 1px 1px 1px;
}

.coordination-login__form label {
  color: #1a1f37;
  font-size: 16px;
  margin-left: 0.5em;
}

.coordination-login__form__group {
  margin-top: 1em;
}

.coordination-login__form__content {
  margin: 4em 0.5em 4em 0.5em;
}

.map__image {
  height: 600px;
  border-radius: 9px;
  width: 1600;
  margin-left: 16px;
  margin-right: 600px !important;
}

#reportBtn {
  margin-top: 26px;
  width: 150px;
  height: 50px;
  background-color: #3faaca;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
  margin-left: -20px;
  cursor: pointer;
}

#map svg g path r {
  cursor: pointer;
  color: #04071a !important;
}

.info_panel {
  background-color: #43a0a5;
  padding: 0.3em;
  font-size: 0.9em;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  border-radius: 5px;
  font-weight: bolder;
}

#map path:hover {
  cursor: pointer;
  stroke: black;
  stroke-width: 0.005;
}

.text {
  margin-top: 630px;
  width: 180px;
  height: 60px;
  border-radius: 3px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
  background-color: var(--white);
  font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.3px;
  color: #306d85;
  text-align: center;
}

#tap {
  margin-left: 160px;
  margin-top: -60px;
}

#tap path {
  fill: #fdd7ad !important;
}

#tap path:hover {
  cursor: progress;
}

.Pillar1 path {
  fill: #4cab39 !important;
}

.Pillar2 path {
  fill: #376bda !important;
}

.Pillar3 path {
  fill: #e16464 !important;
}

.Pillar4 path {
  fill: #ffe331 !important;
}

.matrix-logout {
  width: 150px;
  height: 35px;
  background-color: #3faaca;
  border-radius: 3px;
  border: 0;
  color: #fff !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
  padding: 5% 20%;
}

.matrix-logout:hover {
  cursor: pointer;
}

.matrix-welcome {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.43;
  letter-spacing: -0.7px;
  color: #1a1f37;
  margin-top: 40px;
  margin-left: -20px;
}

.matrix-welcome-msg {
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.81;
  letter-spacing: -0.3px;
  margin-top: 24px;
  color: #1a1f37;
  font-family: Muli;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  margin-left: -20px;
}

#map {
  width: 850px;
  margin-top: 20px;
}

#state-svg-pillar {
  width: 120% !important;
}

.map__image {
  height: 600px;
  border-radius: 9px;
  width: 1600;
  margin-left: 16px;
  margin-right: 600px !important;
}

#map svg g path r {
  cursor: pointer;
  color: #04071a !important;
}

.map_box {
  background-color: #43a0a5;
  padding: 0.3em;
  font-size: 0.9em;
  font-family: Muli;
  position: absolute;
  border-radius: 5px;
  font-weight: bolder;
  pointer-events: none;
}

.info_panel {
  font-size: 1em;
  font-family: Muli;
  position: absolute;
  width: 350px;
  overflow: hidden;
  height: auto;
  font-style: normal;
  font-stretch: normal;
  color: #1a1f37;
  line-height: 0.6;
  border-radius: 1px;
  background-color: white;
  pointer-events: none;
  box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.06);
}

.info_panel .info-panel-item {
  text-align: left !important;
  font-size: 14px;
  margin-top: 16px;
}

.info_panel .info-panel-item-data {
  margin-top: 7px !important;
  line-height: 1.5;
}

.info_panel .info-panel-item,
.info_panel .info-panel-item-data {
  margin-right: 129px;
  margin-left: 16px;
  margin-bottom: 23px;
}

.info_panel:hover {
  cursor: pointer;
}

.info_panel h1 {
  font-size: 1.2em;
  font-weight: bolder;
}

.focusTable:hover {
  cursor: pointer;
}

#map path:hover {
  cursor: pointer;
  stroke: black;
  stroke-width: 0.005;
}

.text {
  margin-top: 630px;
  font-family: Muli;
  width: 200px;
  height: 60px;
  border-radius: 3px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
  background-color: var(--white);
  font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.3px;
  color: #306d85;
  text-align: center;
}

#tap {
  margin-left: 190px;
  margin-top: -70px;
  font-family: Muli;
}

#tap path {
  fill: #fdd7ad !important;
}

#tap path:hover {
  cursor: progress;
}
#state-svg-pillar path:hover {
  cursor: pointer;
  stroke: black;
  stroke-width: 0.003;
  fill: #bad9e3;
}
#state-svg-pillar svg {
  fill: #fcffff;
}

.pillar-icons {
  width: 198px;
  float: right;
  margin-top: 420px;
  margin-left: -50px;
}

.span-text {
  margin-left: 10px;
  vertical-align: top;
  font-weight: bold;
  font-size: 14px;
}

.thematic-pillar-icons {
  margin-top: 450px;
  width: 250px;
}

.pillar-text,
.potential-partnership-text {
  vertical-align: top;
  width: 57px;
  height: 20px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin-left: -15px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--dark);
}

.potential-partnership-text {
  margin-left: 2px;
}

.hide, #stakeholder {
  display: none;
}



@media only screen and (min-width: 993px) {
  .row .col.l7 {
    width: 44.333333%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1020px){
  .thematic-pillars{
    margin-top: 170px;
    font-size: 16px;
  }
  g{
    height: 500px;
  }
  .thematic-pillars__desc{
    font-size: 16px !important;
  }

  .stakeholder_table_filter_subnav{
    width: 100vw;
    top: 102rem;
    left: 6rem;
  }

    .banner {
    margin-bottom: 50px;
  }

  footer.footer{
    width: fit-content;
    min-height: 430px;
    max-height: none;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1030px){
  .thematic-pillars{
    margin-top: 50px;
    font-size: 16px;
  }

  .stakeholder_table_filter_subnav{
    width: 100vw;
    top: 102rem;
    left: 6rem;
  }

  .banner {
    background: #f8f8f8;
  }

  footer.footer{
    width: fit-content;
    min-height: 430px;
    max-height: none;
  }
}


@media only screen and (max-width: 1100px) {
  .hide-on-small-only,
  .hide-on-small-and-down {
    display: block !important;
  }
  #map {
    width: 750px;
    margin-top: 1px;
  }
  .tapButton {
    margin-right: -900px;
    margin-top: -90px;
    margin-bottom: 100px;
  }
  .banner {
    margin-left: 0;
    background: #f8f8f8;
    font-size: 10px;
    display: grid !important;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .banner__desc {
    margin-top: 1%;
    font-size: 2px;
  }
  .tapButton {
    margin-left: -450px;
  }
}

@media only screen and (max-width: 660px) {
  .hide-on-small-only,
  .hide-on-small-and-down {
    display: block !important;
  }

  #map {
    margin-left: -90px;
    width: 350px;
    margin-top: 1px;
  }
  .tapButton {
    margin-top: 30px -600px 0 -450px;
  }

  .brand__name {
    font-size: 0.8em;
  }

  .matrix-logout {
    width: 100%;
  }

  .header,
  nav {
    height: 100%;
  }

  .nav-wrapper {
    padding: 0px;
  }
  .header__logo-img {
    margin-left: 0px;
  }

  #stakeholder {
    display: block;
    background: transparent;
    border-top: 2px solid rgba(63, 170, 202, 0.6);
    border-bottom: 2px solid rgba(63, 170, 202, 0.6);
  }


  .banner {
    background: #f8f8f8;
    font-size: 10px;
    display: grid !important;
    grid-template-columns: 1fr;
    justify-items: center;
    min-height: 400px;
  }

  .banner__desc {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 1%;
    font-size: 2px;
  }

  .banner .text {
    width: 100px;
    font-size: 10px;
    margin-top: -75px;
    height: 40px;
    padding: 2%;
    margin-left: -700px;
  }

  .banner .tap {
    margin-left: 95px;
    margin-top: -30px;
  }

  .matrix-welcome-msg {
    padding: 0 15%;
  }

  .banner #tap svg {
    height: 30px;
    margin-left: -190px;
    margin-top: 35px;
  }

  .thematic-pillars__desc {
    padding: 0 5%;
    font-size: 14px;
  }

   .section.section__pillars {
    margin-top: -12%;
    background-image: linear-gradient(to bottom, #ebf2f4, #ffffff);
  }

  .report {
    margin: 20px 0 0 -20px;
    width: 110px;

  }

  .search__activities__section button {
    width: 100px;
    font-size: 16px;
    padding: 1px;
    height: 45px;
    margin-bottom: 40px;
  }

  #export {
    display: none;
  }

  .btn-accordion-table {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid #cae7f0;
    background: transparent;
    /* height: 47px; */
  }

  .btn-accordion-table .d-flex {
    display: flex;
    display: -webkit-flex;
    border-top: 2px solid rgba(195, 194, 194, 0.6);
    margin-top: 8px;
    padding-top: 10px;
  }

  .d-flex-div{
    margin-right: 30px;
  }

  .btn-accordion-table .title {
    font-family: Muli;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #1a1f37;
  }

  #reportBtn {
  margin-top: 26px;
  margin-left: 3px !important; 
  width: 100px;
  height: 40px;
  background-color: #3faaca;
  border-radius: 3px;
  color: #ffffff;
  font-stretch: normal;
  letter-spacing: -0.3px;
  margin-left: -20px;
  cursor: pointer;
}

  .active,
  .btn-accordion-table:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

 .dropbtn {
    background-color: #3faaca;
    height: 25px;
    border-radius: 3px;
    padding: 5px;
    outline-color: #3faaca;
    text-align: left;
    color: white;
    font-size: 10px;
    border: 0;
    margin: 0 20px 4px 15px;
    width: 62vw;
    flex: 1 0 0;
    -webkit-box-flex: 1 0 0;
    -webkit-flex: 1 0 0;
}

  .dropdown {
    position: relative;
    display: inline-block;
    width: 72%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    background-color: #ddd;
    }

.show {
  display: grid;
  margin-left: 30px;
  }

label{
  font-size: 12px;
  line-height: 1.43;
  color: #000000;
}

.footer__right_content {
  width: 200px;
  font-size: 12px;
  margin-top: 26px;
  margin-left: 50px;
}

  .e-flex {
    flex: 2 0 0;
    font-weight: bold;
    font-size: 12px;
  }

  .c-flex {
    display: flex;
    margin: 5px 0 10px 0;
    border-bottom: 1px solid rgba(195, 194, 194, 0.27);
  }

  .fa-chevron-down{
   font-size: 30px;
   color: #3faaca;
 }
 .icon{
   position: absolute;
   right: 40px;
 }

 .search__activities__section input {
  width: 60%;
  height: 40px;
  margin-right: 0.5em;
  padding: 3px;
}

.features {
  color: #3faaca;
  font-weight: bold;
}
}



nav .nav-wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

.CTA {
  width: 100px;
}
