/*sidenav bar*/
.sidenav{
    top: auto;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 -2px rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.2) !important;
    z-index: -1;
    height: 30.3em;
}
.sidenav.sidenav-fixed {
    left: 0;
    background-color: #FAFEFF;
    width: 27em;
}

.sidenav li>a {
    font-size: 16px;
}
.main-content{
    display: flex;
    flex-direction: row;
}
.main__content-section {
    padding: 1em;
}

.col.s9.main__content-section {
    margin-left: -2.3em;
    padding-bottom: 1.5em;
}

ul#slide-out {
    padding-left: 4.5em;
    position: inherit;
    padding-top: 1em;
    margin: inherit;
}

.sidenav-trigger {
    display: none;
}

#dropdown-me{
    display: none;
}

.col.s3.research-container__sidebar {
    margin: -.2em;
}

.btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: none;
    background-color: #ffffff;
    color: black;
}
.btn:focus,  .btn:active, .btn:hover, .btn:target {
    background-color: #ffffff;
}
ul#dropdown1 {
    width: auto !important;
    height: auto !important;
}

.dropdown-content li>a {
    color: black;
    font-weight:bold;
    font-size: 10px;
}

a.dropdown-trigger.btn.btn-sidenav:hover {
    background: #296d81;
}

.sidenav li>a:hover {
    color: #3faaca;
    background-color: #FAFEFF;
}
.dropdown-content li>a:hover {
    color: #3faaca;
    background-color: #FAFEFF;
}

.dropdown-content {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 0 0 -2px rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.2) !important;
    background: #FAFEFF;
}

@media screen and (max-width: 992px){
    .sidenav-trigger {
        display: block;
    }
    #slide-out {
        display: none;
    }
    #dropdown-me{
        display: block;
        margin-top: -0.8em;
    }

    li.side-links {
        margin-bottom: -0.5em;
    }
}
