.section.section__pillars {
  padding: 30px 15px;
  background-image: linear-gradient(to bottom, #ebf2f4, #ffffff);
}
.section.section__governor {
  padding: 30px 30px;
}
.section__pillars .thematic-pillars .thematic-pillars__heading {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.section__pillars .thematic-pillars__title {
  font-size: 25px;
  line-height: 1.43;
  margin-bottom: 16px;
}
.section__pillars .thematic-pillars__desc {
  color: #1a1f37;
  font-size: 14px;
  line-height: 1.81;
}
.section__pillars .thematic-pillars__content {
  width: 100%;
  margin-top: 64px;
}
.row.thematic-pillars__row {
  margin-bottom: 0;
}
.section__pillars .thematic-pillars__column {
  /* added to add margin to cards, to be removed on desktop */
  margin-bottom: 25px;
}
.section__pillars .thematic-pillars__card {
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 6px;
  box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: transform ease-out 0.5s, box-shadow ease-out 0.5s;
}
.section__pillars .thematic-pillars__card:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.06);
  transform: translateY(-10px);
  
}

.thematic-pillars__card {
  width:95%;
  margin: 0 auto;
}
.governors-message-section {
  /* width:95%; */
  margin: 0 auto;
}

.section__pillars .thematic-pillars__card:hover .thematic-pillars__card-title {
  color: #296d81;
}
.section__pillars .thematic-pillars__left {
  /* don't display image on the left on mobile */
  display: none;
}
.section__pillars .thematic-pillars__card-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.6em;
  /* height is 2 times of line-height to allow perfect
  cutting off of overflow content */
  height: 3.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section__pillars .thematic-pillars__card-desc {
  font-size: 14px;
  margin: 16px 0 0 0;
  line-height: 1.60;
  text-align: justify;
  /* trim out content to reduce chances of cards with different heights */
  overflow: hidden;
  max-height: 90px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.section__pillars .thematic-pillars__card-link {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.07;
  margin: 16px 0 0 0;
}
.section__pillars .thematic-pillars__card-link a {
  text-decoration: none;
  color: #3faaca;
}

@media (min-width: 768px) {
  .section__pillars .thematic-pillars .thematic-pillars__heading {
    width: 60%;
  }
  .section__pillars .thematic-pillars__column {
    width: 45%;
    margin-bottom: 0;
  }
  /* adds top margin to rows except the first row */
  .section__pillars .thematic-pillars__row:not(:first-child) {
    margin-top: 35px;
  }
}
@media (min-width: 1024px) {
  .section.section__pillars {
    padding: 50px;
  }
  .section.section__governor {
    padding: 50px;
  }
  .governors-message {
    width: 95%;
    margin: 0 auto;
  }
  .section__pillars .thematic-pillars__title {
    font-size: 30px;
  }

  .section__pillars .thematic-pillars__desc {
    font-size: 16px;
  }
  /* adds top margin to rows except the first row */
  .section__pillars .thematic-pillars__row:not(:first-child) {
    margin-top: 50px;
  }
  .section__pillars .thematic-pillars__card {
    display: flex;
    flex-direction: row;
  }
  .section__pillars .thematic-pillars__card:hover .thematic-pillars__card-image {
    visibility: visible;
    width: 100%;
  }
  .section__pillars .thematic-pillars__left {
    display: flex;
    align-items: center;
  }
  .section__pillars .thematic-pillars__card-image {
    margin-right: 15px;
    visibility: hidden;
    width: 0;
  }

  .section__pillars .thematic-pillars__card-main {
    display: flex;
    flex-direction: column;
  }

  .section__pillars .thematic-pillars__card-title {
    font-size: 20px;
  }
}

@media (min-width: 1084px) {
  .section__pillars .thematic-pillars__content {
    /* reduce content width on larger screen */
    width: 90%;
  }
  .governors-message {
    /* width: 90%; */
    width: 87%;
    margin: 0 auto;
  }
  .section__pillars .thematic-pillars__card-desc {
    min-height: 90px;
  }
}
@media (min-width: 2000px) {
  .thematic-pillars {
    width: 80%;
    margin: 0 auto;
  }
  .governors-message {
    width: 70%;
    margin: 0 auto;
  }
  .section__pillars .thematic-pillars__column {
    width: 40%;
  }
  .section__pillars .thematic-pillars__card-desc {
    line-height: 2.07;
  }
}

/** News and events style **/
.event-content {
  display: block;
  padding-bottom: 6em;
  background: #f4f5f7;
}

.event-description__container {
  background: white;
  padding-left: 1em;
}

#events {
  margin-left: 11em;
}

.content-wrapper {
  width: 85%;
  text-align: center;
}

.news-and-events {
  height: 43px;
  font-family: Muli, sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: -0.7px;
  text-align: center;
  color: var(--dark);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.justifying-the-mmdp {
  width: 358px;
  height: 70px;
  font-family: Muli, sans-serif;
  font-size: 22px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: -0.7px;
  color: var(--dark);
  text-align: left;
}

.event-description__rectangle {
  /*width: 504px;*/
  height: 21px;
  background-color: #3FAACA;
}

.event-description-left {
  position: relative;
  background: white;
  width: 40% !important;
  padding: 0px !important;
  margin-left: 3.5em !important;
  margin-top: -12em;
  text-align: left;
}

.event-description-right {
  position: relative;
  background: white;
  width: 40% !important;
  margin-left: 7em !important;
  padding: 0px !important;
  margin-top: -12em;
  text-align: left;
}

.event-content {
  padding-left: 1em;
}

.event_date {
  color: #616163;
  height: 29px;
  font-family: Muli, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.3px;
}

.event-previous-arrow__image {
  width: 56px;
  height: 56px;
  object-fit: contain;
  margin-left: -32em;
}

.event-next-arrow__image {
  width: 56px;
  height: 56px;
  object-fit: contain;
  margin-right: -32em;
}

span.event-previous-arrow {
  margin-left: -140em;
}

/* mobile responsive */

@media screen and (max-width: 720px) {
  .event-description-left__continue-reading {
    height: auto !important;
  }

  .event-previous-arrow__image {
    width: 15px;
    margin-left: -11em;
  }

  .event-next-arrow__image {
    width: 15px;
    margin-right: -11em;
  }

  .arrows {
    margin-top: -40em !important;
  }

  .content-wrapper {
    width: 100%;
  }

  .event-description__container {
    padding-left: 0em;
  }

  #events {
    margin-left: 0;
  }

  .event_date {
    font-size: 10px;
    padding-left: 1em;
  }

  .justifying-the-mmdp {
    font-size: 9px !important;
    height: 10px;
    padding-left: 1em;
    margin: 1rem 0 1.68rem 0;
  }

  .event-description-left {
    width: 36% !important;
  }

  .event-description-right {
    width: 36% !important;
  }

  .event-content {
    padding-left: 0;
  }

  .event_date {
    height: 1px;
  }

  .brief-description {
    margin-top: .1em;
    padding-left: .7em;
  }

  .event-description-left__continue-reading {
    padding-left: 1em;
  }
}

.event-description-left__continue-reading {
  width: 115px;
  height: 29px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.3px;
  color: #388AD7;
}

.event-description-left__continue-reading a {
  color: #3faaca
}

.arrows {
  margin-top: -50em;
}

@media screen and (max-width: 1069px) {
  .event-description-right {
    margin-left: 3.3em !important;
    margin-top: -8em;
  }

  .event-description-left {
    margin-top: -8em;
    margin-left: 2em !important;
  }

  .justifying-the-mmdp {
    font-size: 17px;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .event-description-right {
    margin-left: 4.2em !important;
  }

  .event-previous-arrow__image {
    margin-left: -34em;
  }

  .event-next-arrow__image {
    margin-right: -19em;
  }

  .row.event-images {
    margin-left: -9em;
  }

  .row.event-description {
    margin-left: -8em;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .event-next-arrow__image {
    margin-right: -20em;
  }

  .event-previous-arrow__image {
    width: 56px;
    height: 56px;
    object-fit: contain;
    margin-left: -24em;
  }

  .row.event-images {
    margin-left: -1.2em;
  }

  img.img-fluid.event-images__right {
    margin-left: -3em;
  }

  .row.event-description {
    margin-left: auto;
  }

}

@media screen and (max-width: 411px) {
  .event-description-right {
    margin-left: 4.3em !important;
  }

  .event-next-arrow__image {
    width: 15px;
    margin-right: -12em;
  }

  .event-previous-arrow__image {
    margin-left: -12em;
  }
}

@media screen and (max-width: 360px) {
  .event-previous-arrow__image {
    margin-left: -10em !important;
  }

  .event-description-right {
    margin-left: 3.6em !important;
  }

  .event-next-arrow__image {
    margin-right: -11em !important;
  }
}

@media screen and (max-width: 414px) {
  .event-previous-arrow__image {
    margin-left: -12em;
  }

  .event-description-right {
    margin-left: 4.3em;
  }

  .event-next-arrow__image {
    margin-right: -12em;
  }
}

@media screen and (min-width: 1200px) {
  .event-description-right {
    margin-left: 7.2em !important;
  }
}

@media (min-width: 1414px) {
  .event-description-right {
    margin-left: 7.4em !important;
  }

  .event-previous-arrow__image {
    margin-left: -47em;
  }

  .event-next-arrow__image {
    margin-right: -30em;
  }

  .event-content {
    padding-left: 8em !important;
  }
}

@media screen and (min-width: 1173px) {
  .event-description-right {
    margin-left: 7em !important;
  }
  .event-previous-arrow__image {
    margin-left: -47em;
  }
  .event-next-arrow__image {
    margin-right: -30em;
  }
}

@media screen and (min-width: 1173px) {
  .event-description-right {
    margin-left: 7em !important;
  }

  .event-previous-arrow__image {
    margin-left: -47em;
  }

  .event-next-arrow__image {
    margin-right: -30em;
  }
}

.card.governors-message-section {
  margin: 0;
  padding: 0;
  border-radius: 6px !important;
}

.governors-message__title {
  font-size: 25px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -0.7px;
  color: #1a1f37;
}

/* renamed from .governors-message */
.governors-message__content {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}

.governors-message__quote-img {
  width: 28px;
  height: 25px;
  position: absolute;
  left: -50px;
}

.governors-message__governors-img {
  width: 69px;
  height: 69px;
}

.governors-message__bottom-gradient {
  border-radius: 0 0 6px 6px;
  height: 2em;
  background-image: linear-gradient(to right, #6fb4d6, #03825e);
  margin: 0em -.12em;
}

.governors-message__read-more {
  text-align: right;
  flex: 1;
}

.governors-message__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.governors-message__footer__info {
  margin-left: 1.5em;
}

.header a.active {
  color: #296d81;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .governors-message__quote-img {
    display: none;
  }

  .governors-message__quote-img-closing {
    display: none;
  }
}

@media only screen and (min-width: 1057px) {

  .read-more--desktop {
    display: block;
  }

  .read-more--mobile {
    display: none;
  }
}

@media only screen and (max-width: 1057px) {

  .governors-message__read-more {
    float: left !important;
  }

  .read-more--mobile {
    display: block;
  }

  .read-more--desktop {
    display: none;
  }
}
/* Styles for banner */
.banner {
  background-color: #f8f8f8;
  min-height: 680px;
  width: 100%;
  padding: 0 50px;
}

.banner__desc {
  min-height: 356px;
}

.banner__desc__heading {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.43;
  letter-spacing: -0.7px;
  color: #1a1f37;
  margin-top: 40px;
}

.banner__desc__text {
  margin-top: 24px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
  margin-top: 24px;
  color: #1a1f37;
}

.banner__button {
  width: 258px;
  margin: 40px 0;
  height: 50px;
  background-color: #3faaca;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
}
.banner__button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.banner__image {
  height: 460px;
  border-radius: 9px;
  width: 200px;
  margin-left: 16px;
}

.banner__image--wide {
  width: 202px;
  margin-right: 0;
}

@media screen and (max-width: 640px) {
  .banner {
    padding: 5px;
  }

  .banner__desc__heading {
    margin: 0;
  }

  .banner__desc__text {
    font-size: 14px;
  }

  .banner__image--big {
    width: 100%;
    height: 300px;
    margin: 0;
  }
}

@media screen and (max-width: 990px) {
  .banner__row {
    display: flex;
    flex-flow: column-reverse;
  }

  .banner__image {
    width: 30%;
    padding-top: 30px;
  }

  .banner__desc__heading {
    font-size: 24px;
  }

  .banner__button {
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
  }
}

@media (min-width: 1024px) {

  #banner__images {
    margin-left: -4%;
  }
}
