.main__content-section {
  overflow-x: hidden;
  width: 100%;
  min-width: 320px;
}

.sidenav {
  height: 100%;
}

input.input.research-content__form-input {
  width: 80%;
  border-style: solid;
  border-color: #9cd2e3 !important;
  border-width: 1px 1px 1px 1px;
  padding-left: 1em;
  border-radius: 3px;
  margin-left: .6em;
}

input.input.research-content__form-input::placeholder {
  color: #b3b3b3;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  box-shadow: 0px 0px 0px 0px #74c0d8;
  border-radius: 3px;
}

button.btn-large.btn-search {
  background-color: #3faaca;
  color: white;
  border-color: #cae7f0;
  height: 45px;
  margin-left: .5em;
  margin-top: -.3em;
  line-height: normal;
}

.research-content__card {
  height: 104px;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 1em;
}

.research-content__date-published {
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.3px;
  color: #767677;
}

.research-content__essentials {
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
}

.research-content__download {
  width: 94px;
  height: 26px;
  border-style: solid;
  border-color: #6CA8C8;
  border-width: 1.3px 1.3px 1.3px 1.3px;
  border-radius: 3px;
  padding: 0.3em;
  color: #75ADCB;
}

.research-content__downloading {
  text-align: right;
  margin-top: -4em;
}

.row.research-content__devider {
  padding-top: 2em;
}

hr.content-devider {
  border-color: #DDE9EE;
  border-top: #DDE9EE;
  border-left: #DDE9EE;
  background: #DDE9EE;
  height: 3px;
}

@media screen and (max-width: 720px) {
  input.input.research-content__form-input::placeholder {
    font-size: 12px;
  }
}

@media screen and (max-width: 813px) {
  button.btn-large.btn-search {
    margin-left: 0;
  }
}

@media screen and (max-width: 514px) {
  .research-content__downloading {
    text-align: left;
    margin-top: 0;
  }

  .row.research-content__devider {
    padding-top: 0em;
  }
}

@media screen and (max-width: 430px) {
  .research-content__card {
    margin-top: 3em;
  }
}

/* Reports */
.row.research-content__devider.quarterly-reports {
  padding-top: 0;
}

.research-content__card.reports-header {
  height: auto;
}

hr.content-devider.reports-devider {
  height: auto;
}

.research-content__dropdown {
  text-align: right;
  margin-top: -3em;
}

.research-content__pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: .6em;
  padding-top: 80px;
}

.current-page {
  padding: 0px 1em;
  padding-top: .4em;
}

.previous-button, .next-button {
  padding: 0em .4em;
}

.square-shape {
  background: #ebf5f9;
  margin: 0em .4em;
  border: 1px solid #476D7F;
  color: #476D7F;
  margin-top: -.3em;
  padding-top: .4em;
}

.square-shape.very-pale {
  background: #FFFFFF;
  border: 1px solid #DEE5E9;
  color: #DEE5E9;
}

@media screen and (max-width: 514px) {
  .research-content__pagination {
    margin-top: 4.0em;
  }
}

/* stakeholder */
span.local-government {
  width: 148px;
  height: 29px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.3px;
}

.gov-area {
  display: flex;
}

.stakeholder-dropdown {
  padding-left: 2em;
}

.gov-area__devider {
  width: 221px;
  height: 2px;
  margin-top: -1.7em;
  margin-left: 0;
  background: #DDE9EE;
  border: 0;
}

.edo-governments {
  margin-bottom: 3em;
  font-size: 11px;
}

.gov-area, .gov-area__devider {
  margin-left: 1em;
}

.state-government.stakeholders-info.col.m3.col.s12 {
  background: #fafeff;
  margin-left: 0.5em;
}

p.stakeholder-address, p.stakeholder-title, p.stakeholder-address__details {
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.3px;
}

p.stakeholder-address__details {
  font-size: 14px;
}

p.stakeholder-title {
  font-weight: bold;
}

.research-content__pagination.stakeholder {
  margin-right: 7em;
}

@media screen and (max-width: 601px) {
  .edo-governments {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 768px) {
  .row.edo-governments {
    margin-right: -19em;
  }
}

@media screen and (max-width: 1024px) {
  button.btn-large.btn-search {
    margin-left: .7em;
  }
}

/*
Photos and videos
 */
.photos-videos {
  padding-left: 1em;
  padding-right: 1em;
}

.photos-videos__selection-form {
  margin-top: .5em;
  margin-bottom: 1.5em;
  /*margin-left: 0.4em !important;*/
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 1px solid #84c8dd;
  border-radius: 2px;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #3faaca;
  border-bottom: 2px solid #3faaca;
}

.photos-videos__selection-form label {
  color: #1a1f37;
}

.photos-videos__media {
  width: 100%;
  margin-bottom: 1em;
  background-color: #d8d8d8;
}

.photos-videos__pagination {
  margin-top: 2em;
}

#photos-videos__modal .modal-header {
  padding: 5px 25px 15px 25px;
  text-align: right;
  font-size: 30px;
}
#photos-videos__modal .modal-content {
  width: 80%;
  margin: 0 auto;
}
.photos-videos__media-area.video-trigger {
  position: relative;
}
.photos-videos__media-area.video-trigger video {
  vertical-align: middle;
}
.play-button {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button img {
  width: 15%;
  margin-left: -5%;
}
.modal-close-icon {
  color: #296d81;
}

/* media player style */
.media-player {
  max-width: 750px;
  border: 5px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.media-player:fullscreen {
  max-width: none;
  width: 100%;
}

.media-player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.media-player__video {
  width: 100%;
}

.media-player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}

.media-player__button:focus {
  border: 1px solid #ebf2f4;
  background-color: #3faaca;
}

.media-player__slider {
  width: 10px;
  height: 30px;
}

.media-player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all .3s;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.1);
}

.media-player:hover .media-player__controls {
  transform: translateY(0);
  font-size: 14px;
}

.media-player:hover .media-player-progress {
  height: 15px;
}

.media-player__controls > * {
  flex: 1;
}

.media-player-progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0,0,0,0.5);
  cursor: ew-resize;
}

.media-player-progress__filled {
  width: 50%;
  background: #3faaca;
  flex: 0;
  flex-basis: 50%;
}

input[type=range] {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255,255,255,0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #3faaca;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ebf2f4;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #3faaca;
  cursor: pointer;
}



.state-government.col.m2.col.s6> img {
    margin-bottom: -.3em;
    margin-right: .3em;
}

.state-government.col.m2.col.s6 label {
  color: black;
  font-size: 14px;
}

.card-panel.red.lighten-5.pagination__no-results {
  background-color: #FAFFFF !important;
  color: #276f86;
  box-shadow: 0 0 0 1px #a9d5de inset, 0 0 0 0 transparent;
  width: 95%;
  margin-left: .1em;
}

div#docs_docs {
  margin-left: .8em;
}

.pagination__total-items {
    margin-top: .1em;
}

.pagination__page {
    margin-top: .1em;
}

@media screen and (min-width: 1920px) {
  .card-panel.red.lighten-5.pagination__no-results{
    width: 91.3%;
  }
}


li.left-sidebar__navigation-item--collapsible.repository-list {
  margin: 0 -6em;
  padding-left: 6em;
  padding-right: 2em;
}

.collapsible-body.resources-repository {
  width: 100% !important;
}

ul.repository-media {
  width: 159%;
  margin-left: -5.58em;
  padding-left: 5.58em;
}
ul.repository-media > li{
  width: 133%;
  margin-left: -5.71em;
  padding-left: 5.58em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top: 0;
}

ul.repository-media > li.active{
  background: #296d81;
}

ul.repository-media > li.active > a {
  color: white;
}

@media screen and (min-width: 1920px) {
  ul.repository-media > li {
    width: 176.3%;
    margin-left: -7.1em;
    padding-left: 5.58em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 0;
  }
}
