/* left side bar styles */

.main-container-section.row {
    padding: 0;
    margin: 0;
}
.main-container-section {
    /* to make the sidebar height expand to the same height as the main content */
    display: flex;
    min-height: 100vh;
}
.left-sidebar {
    background-color: #fafeff;
    border-right: 1px solid #d9eaef;
    width: 35% !important;
}
.left-sidebar__navigation{
    width: 60%;
    margin: 0 auto;
    transform: translateX(10%)
}
.left-sidebar__navigation-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}
.left-sidebar__navigation-icon {
    visibility: hidden;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.left-sidebar__navigation-link{
    color: #1a1f37;
    font-size: 16px;
    font-weight: bold
}
a.left-sidebar__navigation-link:hover,
a.left-sidebar__navigation-link:active,
a.left-sidebar__navigation-link:focus,
a.left-sidebar__navigation-link.active {
    color: #3faaca
}
.left-sidebar__navigation-item.active a {
    color: #3faaca
}
.left-sidebar__navigation-item.active .left-sidebar__navigation-icon {
    visibility: visible;
}
.left-sidebar__navigation-item:hover .left-sidebar__navigation-icon {
    visibility: visible;
}

.left-sidebar__navigation-item:hover a.left-sidebar__navigation-link {
    color: #3faaca
}

.row .menu-item-content {
    color: #1a1f37;
    padding-bottom: 80px;
}


/* Navigation menu styles */
nav {
    color: #1a1f37;
    background-color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.nav-wrapper {
    padding: 5px 50px;
}
nav ul a:hover {
    background: none;
}

/* mobile menu nav */
.sidenav {
    background-color: #fafeff;
}
.sidenav li>a {
    padding: 0 16px;
}
.sidenav li > a.active{ color: #3faaca; } 
.sidenav__logo {
 margin-top: 20px;
 padding-bottom: 10px;
 border-bottom: 1px solid #eee;
}
.sidenav .collapsible-body>ul:not(.collapsible)>li.active,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #296d81;
}
.collapsible-body li a:hover {
    color: #3faaca;
}
.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(41, 109, 129, 0.65);
}


@media (max-width: 768px) {
    .left-sidebar__navigation {
        width: 100%;
    }
    .row .menu-item-content {
        padding: 0 40px 100px 40px;
    }
}

@media (min-width: 768px) {
    .row .menu-item-content {
        /* padding bottom to give enough space at the bottom of main section */
        padding: 0 93px 150px 40px;
    }
}

/* Devices with screen size of 1024 pixels or less */
@media screen and (max-width: 1024px) {
    .nav-wrapper {
        padding: 5px 5px;
    }
    .header__logo-img {
        margin-left: 10px;
    }
}
