.stakeholder__dir__table table [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: static;
    opacity: 1;
    pointer-events: auto;
}

.stakeholder__dir__table table {
    border-radius: 3px;
    border: solid 1px #d9eaef;
    background-color: #ffffff;
    margin-top: 84px;
}

.stakeholder__dir__table table tr {
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: -0.3px;
    color: #1a1f37;
    height: 104px;
    border: solid 1px #d9eaef;
    cursor: pointer;
    z-index: 7;
}

.stakeholder__dir__table thead tr {
    height: 88px;
}

.stakeholder__dir__table thead tr {
    height: 88px;
    border: solid 1px #d9eaef;
}

.stakeholder__dir__table tr td,
.stakeholder__dir__table tr th {
    width: 218px;
    padding: 15px 14px;
    vertical-align: top;
}

.stakeholder__dir__table tr th {
    vertical-align: middle;
}

.stakeholder__dir__table tr th.organisation__name {
    vertical-align: middle;
    margin-top: 14px;
}

.stakeholder__dir__table .organisation__name {
    display: flex;
    flex-wrap: wrap;
}

.stakeholder__dir__table .location {
    display: flex;
    flex-wrap: wrap;
}

.stakeholder__dir__table .organisation__name input {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-top: 7px;
}

.stakeholder__dir__table .organisation__name div {
    width: 85%;
}

.search__activities__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gap_analysis__toggle__button {
    /* display: flex;
    flex-wrap: wrap; */
    text-align: center;
    width: 280px;
    height: 50px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
    border: solid 1px #cae7f0;
    background-color: #3faaca;
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
}

.search__activities__section input {
    width: 560px;
    height: 50px;
    padding-left: 1em;
    margin-right: 1em;
    border-radius: 4px;
    border: solid 1px #cae7f0;
    background-color: white;
}

.search__activities__section input::placeholder {
    color: #1a1f37;
}

.search__activities__section button {
    margin: 0;
    width: 184px;
    height: 50px;
    border-radius: 3px;
    border: solid 1px #cae7f0;
    background-color: #3faaca;
    font-family: Muli;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: white;
    padding: 4px;
    outline: none;
}

.table {
    max-width: 100%;
    min-width: 100%;
    padding: 0 6.25%;
    margin-bottom: 30px;
}

.table-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 88px;
    border: solid 1px #cae7f0;
    background-color: white;
}

.header {
    width: 100%;
    height: 88px;
    border: solid 1px #cae7f0;
    background-color: white;
}

.col-1 {
    min-width: 5.317460317460317%;
    max-width: 5.317460317460317%;
    display: flex;
    justify-content: flex-end;
    padding-right: 13px;
    font-size: 16px;
}

.col-2 {
    min-width: 27.063492063492063%;
    max-width: 27.063492063492063%;
    font-size: 16px;
}

.col-3 {
    min-width: 19.20634920634921%;
    max-width: 19.20634920634921%;
    font-size: 16px;
}

.col-4 {
    min-width: 22.936507936507937%;
    max-width: 22.936507936507937%;
    font-size: 16px;
}

.col-5 {
    min-width: 25.476190476190474%;
    max-width: 25.476190476190474%;
}

.body .col-1,
.body .col-2,
.body .col-3,
.body .col-4,
.body .col-5 {
    height: 50%;
}

.header .col-5,
.body .col-5 {
    display: flex;
    justify-content: center;
}

.body .col-1 [type="checkbox"]:not(:checked) {
    opacity: 1;
    margin-left: -21px;
}

.body .col-2 {
    padding-right: 103px;
}

.body .col-3 {
    padding-right: 43px;
}

[type="checkbox"]:not(:checked) {
    opacity: 1;
}

.check {
    width: 22px;
    height: 19px;
    border: solid 1px #cae7f0;
    background-color: white;
}

@media screen and (max-width: 760px) {
    .table {
        overflow-x: scroll;
        max-width: 1260px;
        min-width: 1260px;
    }
}

.table__footer {
    padding: 2rem 0;
    border: none;
}

.table__footer button {
    margin: 0;
    height: 40px;
    width: 184px;
}

.table__footer select {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    width: 40px;
    padding: 5px;
    border: none;
    height: 3rem;
    color: #3faaca;
}

.table__footer button.banner__button img {
    font-size: 14px;
    margin-right: 9px;
}

.footer__right_content {
    float: right;
    font-size: 14px;
    font-family: Muli;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: -0.3px;
    text-align: center;
    color: #1a1f37;
}

.footer__right_content :nth-child(3) {
    margin: 0 26px 0 51px;
}

.footer__right_content :nth-child(3) span#current-page {
    display: inline-block;
    width: 40px;
    height: 31px;
    color: #296d81;
    border: solid 1px #296d81;
    background-color: #fafeff;
    margin: 0 8px;
}

.footer__right_content .go-back,
.footer__right_content .go-forward {
    display: inline-block;
    width: 32px;
    height: 31px;
    opacity: 0.18;
    border: solid 1px #296d81;
    background-color: #fafeff;
    cursor: pointer;
}

.footer__right_content .go-forward {
    margin-left: 6px;
}

.footer__right_content button.active__nav {
    opacity: 1;
    color: #296d81;
}

.section__pillars .thematic-pillars__desc {
    font-size: 16px;
    max-width: 600px;
    margin: 0px auto;
}

.modal-overlay {
    opacity: 0.85 !important;
}

#modal1.modal {
    width: 85%;
    border-radius: 5px;
    height: 95%;
    max-height: 97%;
    top: 3% !important;
}

table.stakeholder__details__table {
    border: none;
}

table.stakeholder__details__table tr {
    border: none;
    height: 6rem;
}

table.stakeholder__details__table td {
    width: 33.33%;
    padding: 10px 20px;
    vertical-align: top;
}

table.stakeholder__details__table .row__title {
    font-weight: bold;
    font-size: 16px;
}

table.stakeholder__details__table .row__value {
    font-size: 14px;
    margin-top: 0.5rem;
}

.modal .modal-close {
    float: right;
    font-size: 2rem;
    color: #296d81;
    font-weight: lighter;
}

.modal-content h5 {
    padding: 0 20px;
    font-weight: 900;
}

.modal-content .sh-hr {
    width: 560px;
    height: 6px;
    border: 0;
    margin-top: 9px;
    float: left;
    background-image: linear-gradient(to right, #73d5e7, #f58634);
}

.modal__body {
    position: relative;
}

.mmdp__bg__img {
    position: absolute;
    position: absolute;
    right: 55px;
    bottom: 69px;
    width: 32%;
    object-fit: contain;
    opacity: 0.04;
}

.stakeholder__dir__table thead tr i {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: #3faaca;
    cursor: pointer;
    white-space: nowrap;
}

.location_filters,
.beneficiary_filters,
.amount_filters,
.partnership_filters,
.subtheme_filters,
.thematic_filters {
    width: 100%;
    border-radius: 0px;
    background-color: #296d81;
    padding: 0%;
    margin-top: -1.3%;
    height: 40px;
}

.location_filters p,
.beneficiary_filters p,
.amount_filters p,
.partnership_filters p,
.subtheme_filters p,
.thematic_filters p {
    font-family: Muli;
    font-style: normal;
    color: white;
    font-size: 16px;
    margin-left: 30px;
}

.location_popup__header button {
    float: right;
}

.location_filters button.apply_filter__button,
.beneficiary_filters button.apply_filter__button,
.amount_filters button.apply_filter__button,
.partnership_filters button.apply_filter__button,
.subtheme_filters button.apply_filter__button,
.thematic_filters button.apply_filter__button {
    color: white;
    background: #3faaca;
    margin-top: 5px;
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: #3faaca;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.location_filters button.clear_filter__button,
.beneficiary_filters button.clear_filter__button,
.amount_filters button.clear_filter__button,
.partnership_filters button.clear_filter__button,
.subtheme_filters button.clear_filter__button,
.thematic_filters button.clear_filter__button {
    color: #3faaca;
    cursor: pointer;
    background: white;
    margin-top: 5px;
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: #3faaca;
    float: right;
    margin-right: 35px;
}

.location_popup__content input {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-top: 7px;
}

.subnav {
    display: none;
    position: absolute;
    width: 89%;
    margin-left: -55%;
    -webkit-box-shadow: 0px 0px 23px -2px #707070;
    -moz-box-shadow: 0px 0px 23px -2px #707070;
    box-shadow: 0px 0px 23px -2px #707070;
}

.stakeholder_filter_data,
.location_filter_data,
.partnership_filter_data {
    background-color: white;
    margin-top: -5.7%;
    height: 40%;
}

.subtheme_filter_data,
.amount_filter_data,
.thematic_filter_data {
    background-color: white;
    margin-top: -9.3%;
    height: 40%;
}

.beneficiary_filter_data {
    background-color: white;
    margin-top: -11.3%;
    height: 40%;
}

#data tbody tr td,
#beneficiary_count_data tbody tr td,
#data_amount tbody tr td,
#data_subtheme tbody tr td,
#thematic_data tbody tr td,
#partnership_data tbody tr td {
    padding: 5px 5px 5px 5px;
    font-size: small;
    font-weight: normal;
    width: 10%;
}

#data tbody tr,
#data tbody tr td,
#data,
#data_amount tbody tr,
#data_amount tbody tr td,
#data_amount,
#beneficiary_count_data tbody tr,
#beneficiary_count_data tbody tr td,
#beneficiary_count_data tbody,
#data_subtheme tbody tr td,
#data_subtheme,
#data_subtheme tbody tr,
#thematic_data tbody tr td,
#thematic_data,
#thematic_data tbody tr,
#partnership_data tbody tr td,
#partnership_data,
#partnership_data tbody tr {
    border: none;
}

#data tbody tr,
#data_amount tbody tr,
#beneficiary_count_data tbody tr,
#data_subtheme tbody tr,
#thematic_data tbody tr,
#partnership_data tbody tr {
    height: 40px;
}

#data tbody,
#data_amount tbody,
#beneficiary_count_data tbody,
#data_subtheme tbody,
#thematic_data tbody,
#partnership_data tbody {
    display: block;
    overflow: auto;
    height: 160px;
    padding-left: 30px;
    width: 100%;
}

.mmdp__bg__img {
    position: absolute;
    position: absolute;
    right: 55px;
    bottom: 69px;
    width: 32%;
    object-fit: contain;
    opacity: 0.04;
}

#data #checkBox,
#data_amount #checkBox,
#beneficiary_filter_data #checkBox,
#data_subtheme #checkBox,
#thematic_data #checkBox,
#partnership_data #checkBox {
    cursor: pointer;
}

.amount_subnav {
    display: none;
    position: absolute;
    width: 62.5%;
    margin-left: -55%;
    -webkit-box-shadow: 0px 0px 23px -2px #707070;
    -moz-box-shadow: 0px 0px 23px -2px #707070;
    box-shadow: 0px 0px 23px -2px #707070;
}

.amount_filter_data,
.beneficiary_filter_data,
.subtheme_filter_data,
.thematic_filter_data,
.partnership_filter_data {
    background-color: white;
    margin-top: -9.3%;
    height: 40%;
}

.beneficiary_subnav {
    display: none;
    position: absolute;
    width: 62.5%;
    margin-left: -43%;
    -webkit-box-shadow: 0px 0px 23px -2px #707070;
    -moz-box-shadow: 0px 0px 23px -2px #707070;
    box-shadow: 0px 0px 23px -2px #707070;
}

.subtheme_subnav,
.partnership_subnav,
.thematic_subnav {
    display: none;
    position: absolute;
    width: 62.5%;
    margin-left: -43%;
    -webkit-box-shadow: 0px 0px 23px -2px #707070;
    -moz-box-shadow: 0px 0px 23px -2px #707070;
    box-shadow: 0px 0px 23px -2px #707070;
}

.gap-analysis-toggle {
    display: flex;
    width: 67.5%;
    margin: 0 auto;
}

.gap-analysis-button {
    border: 1px solid #ffffff;
    width: 38%;
    box-shadow: 1px 1px 6px 0.5px #8395a7;
}

.disable {
    background-color: #cae7f0 !important;
    border: 0px;
    box-shadow: 0px 0px 0px 0px #ffffff;
}

.partnership-flex-container {
    display: flex;
    flex-direction: column;
}

.partnership-flex-row {
    border-top: 1px solid #cae7f0;
    border-right: 1px solid #cae7f0;
    border-left: 1px solid #cae7f0;
    border-radius: 1px;
    width: 1300px;
    margin: 0 auto;
    height: 88px;
}

.partnership-flex-row:last-child {
    border-bottom: 1px solid #cae7f0;
}

@media (max-width: 746px) {
    .gap-analysis-toggle {
        width: 69%;
    }
    .gap-analysis-button {
        width: 70%;
    }
}

@media (max-width: 580px) {
    .gap-analysis-toggle {
        width: 71%;
    }
    .gap-analysis-button {
        width: 70%;
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    .gap-analysis-toggle {
        width: 71%;
    }
    .gap-analysis-button {
        width: 70%;
        font-size: 9px;
    }
}

@media (min-width: 1024px) {
    .section.section__pillars {
        padding: 0;
        background: red;
    }
    .section.section__pillars {
        padding: 0;
        background-image: linear-gradient(to bottom, #ebf2f4, #ffffff);
    }
}