span {
  color: #000;
}

.stakeholder__dir__table table [type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: static;
  opacity: 1;
  pointer-events: auto;
}

.stakeholder__dir__table table {
  border-radius: 3px;
  border: solid 1px #d9eaef;
  background-color: #ffffff;
  margin-top: 84px;
}

.stakeholder__dir__table table tr {
  font-family: Muli;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.3px;
  color: #1a1f37;
  height: 92px;
  border: solid 1px #d9eaef;
  cursor: pointer;
  z-index: 7;
}

.stakeholder__dir__table thead tr {
  height: 88px;
}

.stakeholder__dir__table thead tr {
  height: 88px;
  border: solid 1px #d9eaef;
}

.stakeholder__dir__table tr td,
.stakeholder__dir__table tr th {
  width: 218px;
  padding: 1px 14px;
  font-weight: 100;
  vertical-align: baseline;
}

.stakeholder__dir__table tr th {
  vertical-align: middle;
}

.stakeholder__dir__table tr th.organisation__name {
  vertical-align: middle;
  align-items: baseline;
  margin-top: -4px;
}

.stakeholder__dir__table .organisation__name {
  display: flex;
  flex-wrap: wrap;
}

.stakeholder__dir__table .location {
  display: flex;
  flex-wrap: wrap;
}

.stakeholder__dir__table .organisation__name input {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-top: 37px;

}

.search__activities__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gap_analysis__toggle__button {
  text-align: center;
  width: 280px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  border: solid 1px #cae7f0;
  background-color: #3faaca;
  position: absolute;
  left: 50%;
  margin-bottom: 10px;
}

.search__activities__section input {
  width: 41.03%;
  padding-left: 1em;
  margin-right: 1em;
  margin-left: 1rem;
  height: 50px;
  border-radius: 3px;
  border: solid 1px #cae7f0;
}

.search__activities__section input::placeholder {
  color: #1a1f37;
}

.search__activities__section button {
  margin: 0;
  width: 184px;
  height: 50px;
  border-radius: 3px;
  border: solid 1px #cae7f0;
  background-color: #3faaca;
  font-family: Muli;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: white;
  padding: 4px;
  outline: none;
}

.search__messages {
  display: none;
  width: 38%;
  color: #3faaca;
  margin-left: 24%;
  text-align: center;
  padding: 5px;
}

#gap_message,
#impact_message,
#partner_message {
  margin-left: 25%;
  padding-bottom: 10px;
}

@media screen and (max-width: 1150px) {
  .search__messages {
    margin-left: 22%;
  }
}

@media screen and (max-width: 874px) {
  .search__messages {
    margin-left: 20.5%;
  }
}

@media screen and (max-width: 820px) {
  .search__messages {
    margin-left: 19%;
  }
}

@media screen and (max-width: 705px) {
  .search__messages {
    margin-left: 18%;
  }
}

@media screen and (max-width: 573px) {
  .search__messages {
    margin-left: 15%;
  }
}

@media screen and (max-width: 490px) {
  .search__messages {
    margin-left: 12%;
  }
}

@media screen and (max-width: 370px) {
  .search__messages {
    margin-left: 5%;
  }
}

.section {
  padding-bottom: 0;
}

.col-1 {
  min-width: 5.317460317460317%;
  max-width: 5.317460317460317%;
  display: flex;
  justify-content: flex-end;
  padding-right: 13px;
  font-size: 16px;
}

.col-2 {
  min-width: 27.063492063492063%;
  max-width: 27.063492063492063%;
  font-size: 16px;
}

.col-3 {
  min-width: 19.20634920634921%;
  max-width: 19.20634920634921%;
  font-size: 16px;
}

.col-4 {
  min-width: 22.936507936507937%;
  max-width: 22.936507936507937%;
  font-size: 16px;
}

.col-5 {
  min-width: 25.476190476190474%;
  max-width: 30.476190476190474%;
  font-size: 16px;
}

@-moz-document url-prefix() {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5 {
    font-size: 14px;
  }
}

.body .col-1,
.body .col-2,
.body .col-3,
.body .col-4,
.body .col-5 {
  height: 50%;
}

.header,
.body {
  display: flex;
  justify-content: center;
}

.body .col-1 [type="checkbox"]:not(:checked) {
  opacity: 1;
  margin-left: -21px;
}

.body .col-2 {
  padding-right: 103px;
}

.body .col-3 {
  padding-right: 43px;
}

[type="checkbox"]:not(:checked) {
  opacity: 1;
}

.check {
  width: 22px;
  height: 19px;
  border: solid 1px #cae7f0;
  background-color: white;
}

@media screen and (max-width: 760px) {
  .table {
    overflow-x: scroll;
    max-width: 1260px;
    min-width: 1260px;
  }
}

.table__footer,
.table__footer_report {
  padding: 2rem 0;
  border: none;
}

.table__footer_report {
  width: 102%;
}

.table__footer button,
.table__footer_report button {
  margin: 0;
  height: 40px;
  width: 184px;
}

.table__footer select,
.table__footer_report select {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  width: 40px;
  padding: 5px;
  border: none;
  height: 3rem;
  color: #3faaca;
}

.table__footer button.banner__button img,
.table__footer_report button.banner__button img {
  font-size: 14px;
  margin-right: 9px;
}

.footer__right_content {
  float: right;
  font-size: 14px;
  font-family: Muli;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.3px;
  text-align: center;
  color: #1a1f37;
  width: 420px;
}

/* Page Dropdown */
.dropdown-content {
  background-color: #8395a7;
  color: #ffffff;
  min-width: 80px;
  border-radius: 4px;
}

.selected {
  cursor: pointer;
}

#partnership-row-number,
#gap-analysis-row-number,
#impact-factor-row-number {
  margin-right: 2px;
  color: #3faaca;
}

.partnership-dropdown-trigger,
.gap-analysis-dropdown-trigger,
.impact-factor-dropdown-trigger {
  cursor: pointer;
}
/* End of Page Dropdown */

.footer__right_content :nth-child(3) span#current-page,
.footer__right_content :nth-child(3) span#gap-current-page,
.footer__right_content :nth-child(3) span#potential-current-page,
.footer__right_content :nth-child(3) span#impact-factor-current-page {
  display: inline-block;
  width: 40px;
  height: 31px;
  color: #296d81;
  border: solid 1px #296d81;
  background-color: #fafeff;
  margin: 0 8px;
}

.footer__right_content .go-back,
.footer__right_content .go-forward {
  display: inline-block;
  width: 32px;
  height: 31px;
  opacity: 0.18;
  border: solid 1px #296d81;
  background-color: #fafeff;
  cursor: pointer;
}

.footer__right_content .go-forward {
  margin-left: 6px;
}

.footer__right_content button.active__nav {
  opacity: 1;
  color: #296d81;
}

.footer__right_content .go-back {
  margin: 0 6px 0 30px;
}

.footer-page-entries {
  color: #000000;
  padding-right: 1rem;
}

.section__pillars .thematic-pillars__desc {
  max-width: 600px;
  margin: 0px auto;
}

.modal-overlay {
  opacity: 0.85 !important;
}

#modal1.modal {
  width: 85%;
  border-radius: 5px;
  height: 95%;
  max-height: 97%;
  top: 3% !important;
}

table.stakeholder__details__table {
  border: none;
}

table.stakeholder__details__table tr {
  border: none;
  height: 6rem;
}

table.stakeholder__details__table td {
  width: 33.33%;
  padding: 10px 20px;
  vertical-align: top;
}

table.stakeholder__details__table .row__title {
  font-weight: bold;
  font-size: 16px;
}

table.stakeholder__details__table .row__value {
  font-size: 14px;
  margin-top: 0.5rem;
}

.modal .modal-close {
  float: right;
  font-size: 2rem;
  color: #296d81;
  font-weight: lighter;
}

.modal-content h5 {
  padding: 0 20px;
  font-weight: 900;
}

.modal-content .sh-hr {
  width: 560px;
  height: 6px;
  border: 0;
  margin-top: 9px;
  float: left;
  background-image: linear-gradient(to right, #73d5e7, #f58634);
}

.modal__body {
  position: relative;
}

.mmdp__bg__img {
  position: absolute;
  right: 55px;
  bottom: 69px;
  width: 32%;
  object-fit: contain;
  opacity: 0.04;
}

.location_filters,
.beneficiary_filters,
.amount_filters,
.partnership_filters,
.subtheme_filters,
.thematic_filters,
.organisation_filters,
.partnerships_table_filters,
.impact_table_filters,
.stakeholder_table_filters {
  width: 100%;
  border-radius: 0px;
  background-color: #296d81;
  padding: 0%;
  margin-top: -1.5%;
  height: 40px;
}

.partnerships_table_filters{
  margin-top: -0.95rem !important;
}

.stakeholder_table_filters {
  height: 3.3rem;
}


.stakeholder_table_filters p {
  color: #ffffff;
  padding: 1rem 0 0 1rem;
}

.location_filters p,
.beneficiary_filters p,
.amount_filters p,
.partnership_filters p,
.subtheme_filters p,
.thematic_filters p,
.organisation_filters p,
.partnerships_table_filters p,
.impact_table_filters p {
  font-family: Muli;
  font-style: normal;
  color: white;
  font-size: 16px;
  margin-left: 30px;
}

.partnerships_table_filters p,
.impact_table_filters p {
  padding-top: 10px;
}

.location_popup__header button {
  float: right;
}

.location_filters button.apply_filter__button,
.beneficiary_filters button.apply_filter__button,
.amount_filters button.apply_filter__button,
.partnership_filters button.apply_filter__button,
.subtheme_filters button.apply_filter__button,
.thematic_filters button.apply_filter__button,
.organisation_filters button.apply_filter__button,
.partnerships_table_filters button.apply_filter__button,
.impact_table_filters button.apply_filter__button,
.stakeholder_table_filters button.apply_filter__button {
  color: white;
  background: #3faaca;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: #3faaca;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.location_filters button.clear_filter__button,
.beneficiary_filters button.clear_filter__button,
.amount_filters button.clear_filter__button,
.partnership_filters button.clear_filter__button,
.subtheme_filters button.clear_filter__button,
.thematic_filters button.clear_filter__button,
.organisation_filters button.clear_filter__button,
.partnerships_table_filters button.clear_filter__button,
.impact_table_filters button.clear_filter__button,
.stakeholder_table_filters button.clear_filter__button {
  color: #3faaca;
  cursor: pointer;
  background: white;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: #3faaca;
  float: right;
  margin-right: 35px;
}

.partnerships_table_filters button.apply_filter__button,
.impact_table_filters button.apply_filter__button,
.partnerships_table_filters button.clear_filter__button,
.impact_table_filters button.clear_filter__button{
  margin-top: -0.5%;
}

.location_popup__content input {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-top: 7px;
}

.subnav {
  display: none;
  position: absolute;
  width: 89%;
  margin-left: -55%;
  -webkit-box-shadow: 0px 0px 23px -2px #707070;
  -moz-box-shadow: 0px 0px 23px -2px #707070;
  box-shadow: 0px 0px 23px -2px #707070;
}

.stakeholder_filter_data,
.location_filter_data {
  background-color: white;
  margin-top: -5.7%;
  height: 40%;
}

.subtheme_filter_data,
.amount_filter_data,
.thematic_filter_data,
.partnership_filter_data,
.organisation_filter_data,
.partnerships_table_filter_data,
.impact_table_filter_data {
  background-color: white;
  margin-top: -7.7%;
  height: 40%;
}

.partnerships_table_filter_data ,
.impact_table_filter_data {
  margin: 0.6rem 0;
  padding-left: 1.25rem;
}

.beneficiary_filter_data {
  background-color: white;
  margin-top: -8.5%;
  height: 40%;
}

#data tbody tr td,
#beneficiary_count_data tbody tr td,
#data_amount tbody tr td,
#data_subtheme tbody tr td,
#thematic_data tbody tr td,
#partnership_data tbody tr td,
#organisation_data tbody tr td {
  padding: 5px 5px 5px 5px;
  font-size: small;
  font-weight: normal;
  width: 5%;
}
#data tbody tr,
#data tbody tr td,
#data,
#data_amount tbody tr,
#data_amount tbody tr td,
#data_amount,
#beneficiary_count_data tbody tr,
#beneficiary_count_data tbody tr td,
#beneficiary_count_data tbody,
#data_subtheme tbody tr td,
#data_subtheme,
#data_subtheme tbody tr,
#thematic_data tbody tr td,
#thematic_data,
#thematic_data tbody tr,
#partnership_data tbody tr td,
#partnership_data,
#partnership_data tbody tr,
#organisation_data,
#organisation_data tbody tr,
#organisation_data tbody tr td {
  border: none;
}
#data tbody tr,
#data_amount tbody tr,
#beneficiary_count_data tbody tr,
#data_subtheme tbody tr,
#thematic_data tbody tr,
#partnership_data tbody tr,
#organisation_data tbody tr {
  height: 40px;
}
#data tbody,
#data_amount tbody,
#beneficiary_count_data tbody,
#data_subtheme tbody,
#thematic_data tbody,
#partnership_data tbody,
#organisation_data tbody {
  display: block;
  overflow: auto;
  height: 100%;
  padding-left: 30px;
  width: 100%;
  max-height: 11em;
}

#data #checkBox,
#data_amount #checkBox,
#beneficiary_filter_data #checkBox,
#data_subtheme #checkBox,
#thematic_data #checkBox,
#partnership_data #checkBox,
#organisation_data #checkBox {
  cursor: pointer;
}
.amount_subnav {
  display: none;
  position: absolute;
  width: 62.5%;
  margin-left: -55%;
  -webkit-box-shadow: 0px 0px 23px -2px #707070;
  -moz-box-shadow: 0px 0px 23px -2px #707070;
  box-shadow: 0px 0px 23px -2px #707070;
}

.beneficiary_subnav {
  display: none;
  position: absolute;
  width: 62.5%;
  margin-left: -43%;
  -webkit-box-shadow: 0px 0px 23px -2px #707070;
  -moz-box-shadow: 0px 0px 23px -2px #707070;
  box-shadow: 0px 0px 23px -2px #707070;
}

.subtheme_subnav,
.partnership_subnav {
  display: none;
  position: absolute;
  width: 62.5%;
  margin-left: -30%;
  -webkit-box-shadow: 0px 0px 23px -2px #707070;
  -moz-box-shadow: 0px 0px 23px -2px #707070;
  box-shadow: 0px 0px 23px -2px #707070;
}

.thematic_subnav {
  margin-left: -16%;
  display: none;
  position: absolute;
  width: 62.5%;
  -webkit-box-shadow: 0px 0px 23px -2px #707070;
  -moz-box-shadow: 0px 0px 23px -2px #707070;
  box-shadow: 0px 0px 23px -2px #707070;
}

.organisation_subnav,
.stakeholder_table_filter_subnav,
.partner_table_filter_subnav,
.impact_table_filter_subnav {
  display: none;
  position: absolute;
  width: 62.5%;
  margin-left: -4%;
  -webkit-box-shadow: 0px 0px 23px -2px #707070;
  -moz-box-shadow: 0px 0px 23px -2px #707070;
  box-shadow: 0px 0px 23px -2px #707070;
  background-color: #fff;
}

.impact_table_filter_subnav {
  position: absolute;
  width: 79.5rem;
  top: 73.1rem;
  background-color: white;
  left: 13rem;
  z-index: 990;
}

.partner_table_filter_subnav,
.stakeholder_table_filter_subnav {
  position: absolute;
  width: 79.5rem;
  top: 73.02rem;
  background-color: white;
  left: 13rem;
  z-index: 990;
  overflow: auto;
}

.stakeholder_table_filter_subnav {
  position: absolute;
  width: 87.5rem;
  top: 76rem;
  background-color: white;
  left: 8rem;
  z-index: 990;
  overflow: auto;
}

@-moz-document url-prefix() {
  .stakeholder_table_filter_subnav {
    top: 84rem;
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .stakeholder_table_filter_subnav {
    top: 74.5rem;
  }
}}

.stakeholder-filter-error td {
  text-align: center;
  vertical-align: middle !important;
  font-weight: bold;
  letter-spacing: 1px;
}
/* ----------------------------------------------- */

.table-row:hover {
  cursor: pointer;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
}
/* ---------------------------------------------- */

.gap-analysis-toggle {
  display: flex;
  width: 56.5%;
  margin: 0 auto;
}

.gap-analysis-button {
  border: 1px solid #ffffff;
  width: 36.4%;
  box-shadow: 1px 1px 6px 0.5px #8395a7;
  margin: 0 0 18px 0;
}

@-moz-document url-prefix() {
  .gap-analysis-toggle {
    display: flex;
    width: 58.7%;
    margin: 0 auto;
  }

  .gap-analysis-button {
    width: 35.3%;
  }
}

#partnership-report-button {
  margin-left: 15px;
}

.disable {
  background-color: #cae7f0 !important;
  border: 0px;
  box-shadow: 0px 0px 0px 0px #ffffff;
}

.btn_export_csv {
  width: 184px;
  height: 50px;
}

.partnership-table-mobile,
.gap-analysis-table-mobile {
  display: none;
  border: 2px solid #cae7f0;
}

.partnership-table-web .fas {
  color: #3faaca;
}

.table-row-mobile {
  border-bottom: 1px solid #cae7f0;
  min-height: 88px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-row-mobile hr {
  color: #707070;
}

.table-row-mobile .row-header {
  font-weight: bold;
  font-size: 18px;
}

.table-row-mobile-body {
  display: flex;
}

.table-row-mobile-body .body-lga {
  flex: 1;
}

.table-row-mobile-body .body-subtheme {
  flex: 1;
}

.table-row-mobile-body .body-pillar {
  flex: 1;
}

.table-row-mobile-body .body-header {
  font-weight: bold;
  font-size: 16px;
}

#row-number {
  color: #3faaca;
}

.matrix-page-of-text {
  margin-left: 6%;
}

@media screen and (max-width: 1118px) {
  #partnership-report-button {
    margin-left: 0;
  }
}

@media screen and (max-width: 840px) {
  .partnership-table-web {
    display: none;
  }

  .partnership-table-mobile {
    display: block;
  }

  .gap-analysis-table-mobile {
    display: block;
  }

  .gap-analysis-button {
    font-size: 12px;
  }
}

@media (max-width: 780px) {
  .gap-analysis-button {
    font-size: 12px;
  }

  .partnership-table-mobile {
    width: 90%;
  }

  .gap-analysis-table-mobile {
    width: 90%;
  }
}

@media screen and (max-width: 760px) {
  .table {
    overflow-x: scroll;
    max-width: 1260px;
    min-width: 1260px;
  }

  .gap-analysis-button {
    font-size: 9px;
  }
}

@media (max-width: 580px) {
  .gap-analysis-button {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  .gap-analysis-button {
    font-size: 6px;
  }
}

@media (max-width: 440px) {
  .gap-analysis-button {
    font-size: 6px;
    display: none;
    border: 2px solid #cae7f0;
  }
}

.table-row-mobile {
  border-bottom: 1px solid #cae7f0;
  min-height: 88px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-row-mobile hr {
  color: #707070;
}

.table-row-mobile .row-header {
  font-weight: bold;
  font-size: 18px;
}

.table-row-mobile-body {
  display: flex;
}

.table-row-mobile-body .body-lga {
  flex: 1;
}

.table-row-mobile-body .body-subtheme {
  flex: 1;
}

.table-row-mobile-body .body-pillar {
  flex: 1;
}

.table-row-mobile-body .body-header {
  font-weight: bold;
  font-size: 16px;
}



@media screen and (max-width: 1118px) {
  #partnership-report-button {
    margin-left: 0;
  }
}

@media screen and (max-width: 840px) {
  .partnership-table-web {
    display: none;
  }

  .partnership-table-mobile,
  .gap-analysis-table-mobile {
    display: block;
  }

  .gap-analysis-button {
    font-size: 12px;
  }
}

@media (max-width: 780px) {
  .gap-analysis-button {
    font-size: 12px;
  }

  .partnership-table-mobile,
  .gap-analysis-table-mobile {
    width: 90%;
  }
}

@media screen and (max-width: 760px) {
  .table {
    overflow-x: scroll;
    max-width: 1260px;
    min-width: 1260px;
  }

  .gap-analysis-button {
    font-size: 9px;
  }
}

@media (max-width: 580px) {
  .gap-analysis-button {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  .gap-analysis-button {
    font-size: 6px;
  }
}

@media (max-width: 440px) {
  .gap-analysis-button {
    font-size: 6px;
  }
}

/* ----------------------------------------------- */
.table {
  max-width: 100%;
  min-width: 100%;
  padding: 0 6.25%;
  margin-bottom: 30px;
}

.table-row {
  display: flex;
  align-items: center;
  width: 102%;
  min-height: 88px;
  border: solid 1px #cae7f0;
  background-color: white;
}

.table-row:hover {
  cursor: pointer;
}

.header,
.report-table-header {
  width: 100%;
  height: 88px;
  border: solid 1px #cae7f0;
  background-color: white;
}

.report-table-header {
  width: 102%;
}

@-moz-document url-prefix() {
  .table-row,
  .header {
    width: 100%;
  }
}

.report-col-1 {
  min-width: 5.317460317460317%;
  max-width: 5.317460317460317%;
  display: flex;
  justify-content: flex-end;
  padding-right: 13px;
  font-size: 16px;
}

.report-col-2 {
  min-width: 27.063492063492063%;
  max-width: 27.063492063492063%;
  font-family: Muli;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: var(--dark);
}

.report-col-3 {
  min-width: 19.20634920634921%;
  max-width: 19.20634920634921%;
  font-family: Muli;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: var(--dark);
}

.report-col-4 {
  min-width: 22.936507936507937%;
  max-width: 22.936507936507937%;
  font-family: Muli;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  color: var(--dark);
}

.report-col-5 {
  min-width: 25.476190476190474%;
  max-width: 25.476190476190474%;
  font-family: Muli;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.19px;
  text-align: center;
  color: #1a1f37;
}

@-moz-document url-prefix() {
  .report-col-1,
  .report-col-2,
  .report-col-3,
  .report-col-4,
  .report-col-5 {
    font-size: 14px;
  }

  .table__footer_report {
    width: 100%;
  }
}

#gap-analysis-report-table {
  display: none;
}

@media screen and (max-width: 760px) {
  .table {
    overflow-x: scroll;
    max-width: 1260px;
    min-width: 1260px;
  }
}

@media (max-width: 580px) {
  .gap-analysis-button {
    font-size: 12px;
  }
}

@media (max-width: 440px) {
  .gap-analysis-button {
    font-size: 9px;
  }
}

#btn_search_impact,
#btn_search_gap,
#search__activities__gap,
#search__activities__impact {
  display: none;
}

/* Filter Count Styles */

.filter-count {
  position: absolute;
  top: -21px;
  width: 1.6rem;
  background-color: #3faaca;
  height: 1.6rem;
  border-radius: 50%;
  margin-left: 122px;
}

#organisationNameCount,
#thematicPillarCount,
#subThemeCount,
#partnershipCount,
#locationCount,
#beneficiaryCountCount,
#amountInvestedCount {
  display: none;
}

#organisationNameCount {
  margin-left: 147px;
  top: -1rem;
}

#thematicPillarCount {
  margin-left: 101px;
}

#subThemeCount {
  margin-left: 82px;
}

#partnershipCount {
  margin-left: 74px;
}

#locationCount {
  margin-left: 55px;
}

#beneficiaryCountCount {
  margin-left: 112px;
}

#amountInvestedCount {
  margin-left: 107px;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  #organisationNameCount {
    margin-left: 150px;
  }

  #thematicPillarCount {
    margin-left: 116px;
  }

  #subThemeCount {
    margin-left: 96px;
  }

  #partnershipCount {
    margin-left: 89px;
  }

  #locationCount {
    margin-left: 70px;
  }

  #beneficiaryCountCount {
    margin-left: 129px;
  }

  #amountInvestedCount {
    margin-left: 125px;
  }
}}

.filter-count p {
  margin: 0 auto;
  color: #ffffff;
  width: 9px;
}

.column-filter {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.row__{
  position: relative;
  height: 4rem;
}

.stakeholder__dir__table thead tr i {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: #3faaca;
  cursor: pointer;
  white-space: nowrap;
}

.stakeholder__name {
  margin-top: 33px;
}

.org-name {
  margin-top: 14px;
}

.count-container {
  position: relative;
}

.org {
  top: -20px;
}
